In [50]:
#import libraries
import pandas as pd;
import geopandas as gpd;
import matplotlib.pyplot as plt;
%matplotlib notebook

import numpy as np; #Using numpy for regex
import pgeocode; #Used to convert postcodes to locations
from shapely.geometry import Point; # Shapely for converting latitude/longtitude to geometry
from shapely.geometry import shape
from shapely.geometry.polygon import Polygon

import geopy.distance
from geopy.geocoders import Nominatim
import json;
import googlemaps
from datetime import datetime
gmaps = googlemaps.Client(key='AIzaSyCd77Kdocbe2D_xBU21B4949J_dVpL2MsU')


import traveltimepy as ttpy
import os
from datetime import datetime #for examples
#TODO: store credentials in an environment variable
os.environ["TRAVELTIME_ID"] = '466b4c75'
os.environ["TRAVELTIME_KEY"] = 'aa473fed8d8638f1b576305a7e1fc019'


pd.set_option('display.precision', 6)

In [51]:
#Load Distribution Centre Data
df = pd.read_excel(r'frs_data.xlsx', sheet_name='Data', skiprows=4)
df

,Job Number,Date,Month,Branch,Customer,Customer Name,Job Type,Job Category,Revenue,Load Town,Load Postcode,Summarised Load Postcode,Col/Del Town,Col/Del Postcode,Summarised Col/Del Postcode,Unload Town,Unload Postcode,Summarised Unload Postcode,Container Size,System Dist
0,213450743,2022-01-12,2022-01-01,LEE,F-AAIINT,AAI INTERNATIONAL SCOTLAND LTD,IMP,STD,278.35,LEEDS,LS10 1SD,LS10,BRADFORD,BD4 6RS,BD4,TBA,,NaN,40,0
1,220397100,2022-01-18,2022-01-01,LEE,F-AGIGLO,AGI GLOBAL LOGISTICS (LHR) LTD,EXP,STD,278.35,LEEDS,LS10 1RT,LS10,ELLAND,HX5 9JP,HX5,LEEDS,LS10 1SD,LS10,40,48
2,220397101,2022-01-18,2022-01-01,LEE,F-AGIGLO,AGI GLOBAL LOGISTICS (LHR) LTD,EXP,STD,278.35,LEEDS,LS10 1RT,LS10,ELLAND,HX5 9JP,HX5,LEEDS,LS10 1SD,LS10,40,48
3,220397102,2022-01-18,2022-01-01,LEE,F-AGIGLO,AGI GLOBAL LOGISTICS (LHR) LTD,EXP,STD,278.35,LEEDS,LS10 1RT,LS10,ELLAND,HX5 9JP,HX5,LEEDS,LS10 1SD,LS10,40,48
4,220397103,2022-01-18,2022-01-01,LEE,F-AGIGLO,AGI GLOBAL LOGISTICS (LHR) LTD,EXP,STD,278.35,LEEDS,LS10 1RT,LS10,ELLAND,HX5 9JP,HX5,LEEDS,LS10 1SD,LS10,40,48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10502,223303013,2022-08-09,2022-08-01,LEE,F-TURKON,TURKON LINE (UK) LTD,EXP,NRR,0.00,RELOAD,LS10 1SD,LS10,SCUNTHORPE,DN16 1XA,DN16,LIFT OFF CONTAINER,LS101SD,LS10,40,114
10503,223304235,2022-08-17,2022-08-01,LEE,F-TURKON,TURKON LINE (UK) LTD,IMP,STD,315.26,LEEDS,LS10 1SD,LS10,GILBERDYKE,HU15 2UP,HU15,LEEDS,LS10 1RT,LS10,40,88
10504,223409115,2022-08-24,2022-08-01,LEE,F-TURKON,TURKON LINE (UK) LTD,IMP,STD,254.45,DONCASTER,DN4 5PD,DN4,SHEFFIELD,S9 2FY,S9 2,DONCASTER,DN4 5PD,DN4,20,44
10505,223410686,2022-08-22,2022-08-01,LEE,F-TURKON,TURKON LINE (UK) LTD,IMP,STD,254.45,LEEDS,LS10 1SD,LS10,SELBY,YO8 6DJ,YO8,LEEDS,LS10 1RT,LS10,40,60
10506,223408086,2022-08-18,2022-08-01,LEE,F-ZIM,ZIM UK LTD,IMP,STD,328.91,DONCASTER,DN4 5PD,DN4,WAKEFIELD,WF10 5QH,WF10,DONCASTER,DN4 5JP,DN4,40,54

In [52]:
exclude_clients = ['SAMSKIP MULTIMODAL BV', 'TEMP STATION LTD', 'FL RAIL - Internal Re-charge A/c', 'Freightliner (Non Revenue Moves)']
include_jobs = ['STD']

df1 = df[~(df['Customer Name'].str.match('|'.join(exclude_clients))) & (df['Job Category'].str.match('|'.join(include_jobs))) & ~(df['Unload Postcode'].isna()) & ~(df['Unload Town'] == "TBA")]
df1

,Job Number,Date,Month,Branch,Customer,Customer Name,Job Type,Job Category,Revenue,Load Town,Load Postcode,Summarised Load Postcode,Col/Del Town,Col/Del Postcode,Summarised Col/Del Postcode,Unload Town,Unload Postcode,Summarised Unload Postcode,Container Size,System Dist
1,220397100,2022-01-18,2022-01-01,LEE,F-AGIGLO,AGI GLOBAL LOGISTICS (LHR) LTD,EXP,STD,278.35,LEEDS,LS10 1RT,LS10,ELLAND,HX5 9JP,HX5,LEEDS,LS10 1SD,LS10,40,48
2,220397101,2022-01-18,2022-01-01,LEE,F-AGIGLO,AGI GLOBAL LOGISTICS (LHR) LTD,EXP,STD,278.35,LEEDS,LS10 1RT,LS10,ELLAND,HX5 9JP,HX5,LEEDS,LS10 1SD,LS10,40,48
3,220397102,2022-01-18,2022-01-01,LEE,F-AGIGLO,AGI GLOBAL LOGISTICS (LHR) LTD,EXP,STD,278.35,LEEDS,LS10 1RT,LS10,ELLAND,HX5 9JP,HX5,LEEDS,LS10 1SD,LS10,40,48
4,220397103,2022-01-18,2022-01-01,LEE,F-AGIGLO,AGI GLOBAL LOGISTICS (LHR) LTD,EXP,STD,278.35,LEEDS,LS10 1RT,LS10,ELLAND,HX5 9JP,HX5,LEEDS,LS10 1SD,LS10,40,48
5,220509328,2022-01-25,2022-01-01,LEE,F-AGIGLO,AGI GLOBAL LOGISTICS (LHR) LTD,EXP,STD,278.35,LEEDS,LS10 1RT,LS10,ELLAND,HX5 9JP,HX5,LEEDS,LS10 1SD,LS10,40,48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10501,223298739,2022-08-09,2022-08-01,LEE,F-TURKON,TURKON LINE (UK) LTD,EXP,STD,260.49,LIFT ON CONTAINER,LS10 1SD,LS10,SCUNTHORPE,DN16 1XA,DN16,LEEDS,LS10 1SD,LS10,40,114
10503,223304235,2022-08-17,2022-08-01,LEE,F-TURKON,TURKON LINE (UK) LTD,IMP,STD,315.26,LEEDS,LS10 1SD,LS10,GILBERDYKE,HU15 2UP,HU15,LEEDS,LS10 1RT,LS10,40,88
10504,223409115,2022-08-24,2022-08-01,LEE,F-TURKON,TURKON LINE (UK) LTD,IMP,STD,254.45,DONCASTER,DN4 5PD,DN4,SHEFFIELD,S9 2FY,S9 2,DONCASTER,DN4 5PD,DN4,20,44
10505,223410686,2022-08-22,2022-08-01,LEE,F-TURKON,TURKON LINE (UK) LTD,IMP,STD,254.45,LEEDS,LS10 1SD,LS10,SELBY,YO8 6DJ,YO8,LEEDS,LS10 1RT,LS10,40,60
10506,223408086,2022-08-18,2022-08-01,LEE,F-ZIM,ZIM UK LTD,IMP,STD,328.91,DONCASTER,DN4 5PD,DN4,WAKEFIELD,WF10 5QH,WF10,DONCASTER,DN4 5JP,DN4,40,54

In [66]:
df1['Load Postcode'] = df1['Load Postcode'].str.upper()
df1['Col/Del Postcode'] = df1['Col/Del Postcode'].str.upper()
df1['Unload Postcode'] = df1['Unload Postcode'].str.upper()
df1['Unload Postcode'] = np.where(df1['Unload Postcode'].str.match('LS101SD'), 'LS10 1SD', df1['Unload Postcode'])
df1['Unload Postcode'] = np.where(df1['Unload Postcode'].str.match('DN48PD'), 'DN4 5PD', df1['Unload Postcode'])
df1['Unload Postcode'] = np.where(df1['Unload Postcode'].str.match('DN4  5PD'), 'DN4 5PD', df1['Unload Postcode'])

/var/folders/4r/y80n195n7bzf_nd0xqdjksd80000gn/T/ipykernel_15214/2864008003.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Load Postcode'] = df1['Load Postcode'].str.upper()
/var/folders/4r/y80n195n7bzf_nd0xqdjksd80000gn/T/ipykernel_15214/2864008003.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Col/Del Postcode'] = df1['Col/Del Postcode'].str.upper()
/var/folders/4r/y80n195n7bzf_nd0xqdjksd80000gn/T/ipykernel_15214/2864008003.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Unload Postcode'] = df1['Unload Postcode'].str.upper()
/var/folders/4r/y80n195n7bzf_nd0xqdjksd80000gn/T/ipykernel_15214/2864008003.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Unload Postcode'] = np.where(df1['Unload Postcode'].str.match('LS101SD'), 'LS10 1SD', df1['Unload Postcode'])
/var/folders/4r/y80n195n7bzf_nd0xqdjksd80000gn/T/ipykernel_15214/2864008003.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Unload Postcode'] = np.where(df1['Unload Postcode'].str.match('DN48PD'), 'DN4 5PD', df1['Unload Postcode'])
/var/folders/4r/y80n195n7bzf_nd0xqdjksd80000gn/T/ipykernel_15214/2864008003.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Unload Postcode'] = np.where(df1['Unload Postcode'].str.match('DN4  5PD'), 'DN4 5PD', df1['Unload Postcode'])

In [68]:
df2 = df1.rename(columns = {'Load Postcode': 'load_pc', 'Col/Del Postcode': 'coldel_pc', 'Unload Postcode': 'unload_pc'})
df2

,Job Number,Date,Month,Branch,Customer,Customer Name,Job Type,Job Category,Revenue,Load Town,load_pc,Summarised Load Postcode,Col/Del Town,coldel_pc,Summarised Col/Del Postcode,Unload Town,unload_pc,Summarised Unload Postcode,Container Size,System Dist
1,220397100,2022-01-18,2022-01-01,LEE,F-AGIGLO,AGI GLOBAL LOGISTICS (LHR) LTD,EXP,STD,278.35,LEEDS,LS10 1RT,LS10,ELLAND,HX5 9JP,HX5,LEEDS,LS10 1SD,LS10,40,48
2,220397101,2022-01-18,2022-01-01,LEE,F-AGIGLO,AGI GLOBAL LOGISTICS (LHR) LTD,EXP,STD,278.35,LEEDS,LS10 1RT,LS10,ELLAND,HX5 9JP,HX5,LEEDS,LS10 1SD,LS10,40,48
3,220397102,2022-01-18,2022-01-01,LEE,F-AGIGLO,AGI GLOBAL LOGISTICS (LHR) LTD,EXP,STD,278.35,LEEDS,LS10 1RT,LS10,ELLAND,HX5 9JP,HX5,LEEDS,LS10 1SD,LS10,40,48
4,220397103,2022-01-18,2022-01-01,LEE,F-AGIGLO,AGI GLOBAL LOGISTICS (LHR) LTD,EXP,STD,278.35,LEEDS,LS10 1RT,LS10,ELLAND,HX5 9JP,HX5,LEEDS,LS10 1SD,LS10,40,48
5,220509328,2022-01-25,2022-01-01,LEE,F-AGIGLO,AGI GLOBAL LOGISTICS (LHR) LTD,EXP,STD,278.35,LEEDS,LS10 1RT,LS10,ELLAND,HX5 9JP,HX5,LEEDS,LS10 1SD,LS10,40,48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10501,223298739,2022-08-09,2022-08-01,LEE,F-TURKON,TURKON LINE (UK) LTD,EXP,STD,260.49,LIFT ON CONTAINER,LS10 1SD,LS10,SCUNTHORPE,DN16 1XA,DN16,LEEDS,LS10 1SD,LS10,40,114
10503,223304235,2022-08-17,2022-08-01,LEE,F-TURKON,TURKON LINE (UK) LTD,IMP,STD,315.26,LEEDS,LS10 1SD,LS10,GILBERDYKE,HU15 2UP,HU15,LEEDS,LS10 1RT,LS10,40,88
10504,223409115,2022-08-24,2022-08-01,LEE,F-TURKON,TURKON LINE (UK) LTD,IMP,STD,254.45,DONCASTER,DN4 5PD,DN4,SHEFFIELD,S9 2FY,S9 2,DONCASTER,DN4 5PD,DN4,20,44
10505,223410686,2022-08-22,2022-08-01,LEE,F-TURKON,TURKON LINE (UK) LTD,IMP,STD,254.45,LEEDS,LS10 1SD,LS10,SELBY,YO8 6DJ,YO8,LEEDS,LS10 1RT,LS10,40,60
10506,223408086,2022-08-18,2022-08-01,LEE,F-ZIM,ZIM UK LTD,IMP,STD,328.91,DONCASTER,DN4 5PD,DN4,WAKEFIELD,WF10 5QH,WF10,DONCASTER,DN4 5JP,DN4,40,54

In [69]:
load_unload_points = df2.groupby(['load_pc', 'unload_pc'])['Revenue'].sum().reset_index()
load_unload_points.sort_values(by='Revenue', ascending = False)

     load_pc unload_pc     Revenue
39  LS10 1SD  LS10 1SD  1860824.82
28  LS10 1RT  LS10 1SD   346220.50
38  LS10 1SD  LS10 1RT   218657.93
5   DN4  5PD   DN4 5PD    94733.04
45  LS10 1SD  TS6 6UD     84272.49
..       ...       ...         ...
33  LS10 1SD  DN11 0PU      348.43
71  WF6 2RH   WF10 5UA      333.65
0   DE74 2DL  S9 1TQ        269.02
22  IP11 3SY  S9 1TQ        203.56
51  S60 1BN   S9 1TQ        201.87

[73 rows x 3 columns]

In [71]:
delivery_points = df2.groupby(['coldel_pc'])['Revenue'].sum().reset_index()
delivery_points.sort_values(by='Revenue', ascending=False)

    coldel_pc    Revenue
722  TS6 6UD   921859.04
135  DL1 4PW   157251.88
524  NG17 2HU  101398.76
134  DH9 7XP    99113.29
263  HD2 1FQ    64658.84
..        ...        ...
417  LS14 1NG     172.76
52   BD23 2QR     167.58
457  LS9 0AR      157.12
847  YO60 7DA     152.31
858  YO8 8BE      137.31

[860 rows x 2 columns]

In [72]:
postcode_study = 'LS10 1SD'
df3 = df2[(df2['load_pc'].isin([postcode_study])) | (df2['unload_pc'].isin([postcode_study]))]
df3

,Job Number,Date,Month,Branch,Customer,Customer Name,Job Type,Job Category,Revenue,Load Town,load_pc,Summarised Load Postcode,Col/Del Town,coldel_pc,Summarised Col/Del Postcode,Unload Town,unload_pc,Summarised Unload Postcode,Container Size,System Dist
1,220397100,2022-01-18,2022-01-01,LEE,F-AGIGLO,AGI GLOBAL LOGISTICS (LHR) LTD,EXP,STD,278.35,LEEDS,LS10 1RT,LS10,ELLAND,HX5 9JP,HX5,LEEDS,LS10 1SD,LS10,40,48
2,220397101,2022-01-18,2022-01-01,LEE,F-AGIGLO,AGI GLOBAL LOGISTICS (LHR) LTD,EXP,STD,278.35,LEEDS,LS10 1RT,LS10,ELLAND,HX5 9JP,HX5,LEEDS,LS10 1SD,LS10,40,48
3,220397102,2022-01-18,2022-01-01,LEE,F-AGIGLO,AGI GLOBAL LOGISTICS (LHR) LTD,EXP,STD,278.35,LEEDS,LS10 1RT,LS10,ELLAND,HX5 9JP,HX5,LEEDS,LS10 1SD,LS10,40,48
4,220397103,2022-01-18,2022-01-01,LEE,F-AGIGLO,AGI GLOBAL LOGISTICS (LHR) LTD,EXP,STD,278.35,LEEDS,LS10 1RT,LS10,ELLAND,HX5 9JP,HX5,LEEDS,LS10 1SD,LS10,40,48
5,220509328,2022-01-25,2022-01-01,LEE,F-AGIGLO,AGI GLOBAL LOGISTICS (LHR) LTD,EXP,STD,278.35,LEEDS,LS10 1RT,LS10,ELLAND,HX5 9JP,HX5,LEEDS,LS10 1SD,LS10,40,48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10499,223189749,2022-08-09,2022-08-01,LEE,F-TURKON,TURKON LINE (UK) LTD,IMP,STD,195.49,LEEDS,LS10 1SD,LS10,BURNLEY,BB10 2BQ,BB10,RELOAD,LS10 1SD,LS10,40,140
10500,223296408,2022-08-09,2022-08-01,LEE,F-TURKON,TURKON LINE (UK) LTD,EXP,STD,260.49,RELOAD,LS10 1SD,LS10,WIGAN,WN2 4XG,WN2,LEEDS,LS10 1SD,LS10,40,118
10501,223298739,2022-08-09,2022-08-01,LEE,F-TURKON,TURKON LINE (UK) LTD,EXP,STD,260.49,LIFT ON CONTAINER,LS10 1SD,LS10,SCUNTHORPE,DN16 1XA,DN16,LEEDS,LS10 1SD,LS10,40,114
10503,223304235,2022-08-17,2022-08-01,LEE,F-TURKON,TURKON LINE (UK) LTD,IMP,STD,315.26,LEEDS,LS10 1SD,LS10,GILBERDYKE,HU15 2UP,HU15,LEEDS,LS10 1RT,LS10,40,88
10505,223410686,2022-08-22,2022-08-01,LEE,F-TURKON,TURKON LINE (UK) LTD,IMP,STD,254.45,LEEDS,LS10 1SD,LS10,SELBY,YO8 6DJ,YO8,LEEDS,LS10 1RT,LS10,40,60

In [96]:
leeds_out_routes = df3.groupby(by=['load_pc', 'coldel_pc', 'unload_pc'])['Revenue'].sum().reset_index()
leeds_out_routes.sort_values(by='Revenue', ascending=False)

       load_pc coldel_pc unload_pc    Revenue
937   LS10 1SD  TS6 6UD   LS10 1SD  769525.21
85    LS10 1RT  DL1 4PW   LS10 1SD  154627.97
938   LS10 1SD  TS6 6UD   TS6 6UD    80368.00
750   LS10 1SD  NG17 2HU  LS10 1SD   67412.00
503   LS10 1SD  HD2 1FQ   LS10 1SD   62196.20
...        ...       ...       ...        ...
634   LS10 1SD  LS11 8HA  LS10 1SD     140.31
1117  WF10 5UA  BD5 8LZ   LS10 1SD     139.22
1078  LS10 1SD  YO8 8BE   LS10 1SD     137.31
137   LS10 1RT  HU9 5PE   LS10 1SD     100.00
666   LS10 1SD  LS25 4DZ  LS10 1SD      64.03

[1202 rows x 4 columns]

In [99]:
def out_distance(coords):
    return gmaps.distance_matrix(coords.load_pc + ', UK', coords.coldel_pc + ', UK', mode="driving")#['rows'][0]['elements'][0]['distance']['value']/1000/1.609344

def back_distance(coords):
    return gmaps.distance_matrix(coords.coldel_pc + ', UK', coords.unload_pc + ', UK', mode="driving")#['rows'][0]['elements'][0]['distance']['value']/1000/1.609344


leeds_out_routes['leeds_out_miles'] = leeds_out_routes[['load_pc', 'coldel_pc']].apply(out_distance, axis=1)
leeds_out_routes['leeds_back_miles'] = leeds_out_routes[['coldel_pc', 'unload_pc']].apply(back_distance, axis=1)
leeds_out_routes

,load_pc,coldel_pc,unload_pc,Revenue,leeds_out_miles,leeds_back_miles
0,DN11 0PU,DL1 4XT,LS10 1SD,752.00,{'destination_addresses': ['Darlington DL1 4XT...,"{'destination_addresses': ['Leeds LS10 1SD, UK..."
1,DN11 0PU,DN11 0BQ,LS10 1SD,1016.00,{'destination_addresses': ['Doncaster DN11 0BQ...,"{'destination_addresses': ['Leeds LS10 1SD, UK..."
2,DN11 0PU,HX5 9JP,LS10 1SD,577.89,"{'destination_addresses': ['Elland HX5 9JP, UK...","{'destination_addresses': ['Leeds LS10 1SD, UK..."
3,DN11 0PU,S44 5HY,LS10 1SD,349.00,{'destination_addresses': ['Chesterfield S44 5...,"{'destination_addresses': ['Leeds LS10 1SD, UK..."
4,DN11 0PU,S62 6EF,LS10 1SD,1803.00,"{'destination_addresses': ['Rotherham S62 6EF,...","{'destination_addresses': ['Leeds LS10 1SD, UK..."
...,...,...,...,...,...,...
1197,WF10 5UA,YO30 1AP,LS10 1SD,2530.00,"{'destination_addresses': ['Shipton, York YO30...","{'destination_addresses': ['Leeds LS10 1SD, UK..."
1198,WF10 5UA,YO41 1HS,LS10 1SD,250.20,"{'destination_addresses': ['Full Sutton, York ...","{'destination_addresses': ['Leeds LS10 1SD, UK..."
1199,WF10 5UA,YO43 4TW,LS10 1SD,284.98,"{'destination_addresses': ['North Newbald, Yor...","{'destination_addresses': ['Leeds LS10 1SD, UK..."
1200,WF10 5UA,YO7 3HR,LS10 1SD,163.21,"{'destination_addresses': ['Dalton, Thirsk YO7...","{'destination_addresses': ['Leeds LS10 1SD, UK..."
1201,WS11 8XY,YO25 9TS,LS10 1SD,904.34,"{'destination_addresses': ['Lund, Driffield YO...","{'destination_addresses': ['Leeds LS10 1SD, UK..."

In [103]:
switch_study = 'DN4 5PD'

def switch_out_distance(coords):
    if coords.load_pc == postcode_study:
        return gmaps.distance_matrix(switch_study + ', UK', coords.coldel_pc + ', UK', mode="driving")
    else:
        return coords.leeds_out_miles

def switch_back_distance(coords):
    if coords.unload_pc == postcode_study:
        return gmaps.distance_matrix(coords.coldel_pc + ', UK', switch_study + ', UK', mode="driving")
    else:
        return coords.leeds_back_miles


leeds_out_routes['switch_out_miles'] = leeds_out_routes[['load_pc', 'coldel_pc', 'leeds_out_miles']].apply(switch_out_distance, axis=1)
leeds_out_routes['switch_back_miles'] = leeds_out_routes[['coldel_pc', 'unload_pc', 'leeds_back_miles']].apply(switch_back_distance, axis=1)
leeds_out_routes

,load_pc,coldel_pc,unload_pc,Revenue,leeds_out_miles,leeds_back_miles,leeds_out_miles_converted,switch_out_miles,switch_back_miles
0,DN11 0PU,DL1 4XT,LS10 1SD,752.00,{'destination_addresses': ['Darlington DL1 4XT...,"{'destination_addresses': ['Leeds LS10 1SD, UK...",89.381139,{'destination_addresses': ['Darlington DL1 4XT...,"{'destination_addresses': ['Doncaster DN4 5PD,..."
1,DN11 0PU,DN11 0BQ,LS10 1SD,1016.00,{'destination_addresses': ['Doncaster DN11 0BQ...,"{'destination_addresses': ['Leeds LS10 1SD, UK...",89.381139,{'destination_addresses': ['Doncaster DN11 0BQ...,"{'destination_addresses': ['Doncaster DN4 5PD,..."
2,DN11 0PU,HX5 9JP,LS10 1SD,577.89,"{'destination_addresses': ['Elland HX5 9JP, UK...","{'destination_addresses': ['Leeds LS10 1SD, UK...",89.381139,"{'destination_addresses': ['Elland HX5 9JP, UK...","{'destination_addresses': ['Doncaster DN4 5PD,..."
3,DN11 0PU,S44 5HY,LS10 1SD,349.00,{'destination_addresses': ['Chesterfield S44 5...,"{'destination_addresses': ['Leeds LS10 1SD, UK...",89.381139,{'destination_addresses': ['Chesterfield S44 5...,"{'destination_addresses': ['Doncaster DN4 5PD,..."
4,DN11 0PU,S62 6EF,LS10 1SD,1803.00,"{'destination_addresses': ['Rotherham S62 6EF,...","{'destination_addresses': ['Leeds LS10 1SD, UK...",89.381139,"{'destination_addresses': ['Rotherham S62 6EF,...","{'destination_addresses': ['Doncaster DN4 5PD,..."
...,...,...,...,...,...,...,...,...,...
1197,WF10 5UA,YO30 1AP,LS10 1SD,2530.00,"{'destination_addresses': ['Shipton, York YO30...","{'destination_addresses': ['Leeds LS10 1SD, UK...",89.381139,"{'destination_addresses': ['Shipton, York YO30...","{'destination_addresses': ['Doncaster DN4 5PD,..."
1198,WF10 5UA,YO41 1HS,LS10 1SD,250.20,"{'destination_addresses': ['Full Sutton, York ...","{'destination_addresses': ['Leeds LS10 1SD, UK...",89.381139,"{'destination_addresses': ['Full Sutton, York ...","{'destination_addresses': ['Doncaster DN4 5PD,..."
1199,WF10 5UA,YO43 4TW,LS10 1SD,284.98,"{'destination_addresses': ['North Newbald, Yor...","{'destination_addresses': ['Leeds LS10 1SD, UK...",89.381139,"{'destination_addresses': ['North Newbald, Yor...","{'destination_addresses': ['Doncaster DN4 5PD,..."
1200,WF10 5UA,YO7 3HR,LS10 1SD,163.21,"{'destination_addresses': ['Dalton, Thirsk YO7...","{'destination_addresses': ['Leeds LS10 1SD, UK...",89.381139,"{'destination_addresses': ['Dalton, Thirsk YO7...","{'destination_addresses': ['Doncaster DN4 5PD,..."
1201,WS11 8XY,YO25 9TS,LS10 1SD,904.34,"{'destination_addresses': ['Lund, Driffield YO...","{'destination_addresses': ['Leeds LS10 1SD, UK...",89.381139,"{'destination_addresses': ['Lund, Driffield YO...","{'destination_addresses': ['Doncaster DN4 5PD,..."

In [109]:
routes = leeds_out_routes
def convert_to_miles(x):
    try: 
        return x['rows'][0]['elements'][0]['distance']['value']/1000/1.609344
    except:
        return -1


routes['leeds_out_miles_converted'] = routes['leeds_out_miles'].apply(convert_to_miles)
routes['leeds_back_miles_converted'] = routes['leeds_back_miles'].apply(convert_to_miles)
routes['switch_out_miles_converted'] = routes['switch_out_miles'].apply(convert_to_miles)
routes['switch_back_miles_converted'] = routes['switch_back_miles'].apply(convert_to_miles)
routes

,load_pc,coldel_pc,unload_pc,Revenue,leeds_out_miles,leeds_back_miles,leeds_out_miles_converted,switch_out_miles,switch_back_miles,leeds_back_miles_converted,switch_out_miles_converted,switch_back_miles_converted
0,DN11 0PU,DL1 4XT,LS10 1SD,752.00,{'destination_addresses': ['Darlington DL1 4XT...,"{'destination_addresses': ['Leeds LS10 1SD, UK...",89.381139,{'destination_addresses': ['Darlington DL1 4XT...,"{'destination_addresses': ['Doncaster DN4 5PD,...",69.888103,89.381139,88.706330
1,DN11 0PU,DN11 0BQ,LS10 1SD,1016.00,{'destination_addresses': ['Doncaster DN11 0BQ...,"{'destination_addresses': ['Leeds LS10 1SD, UK...",1.445309,{'destination_addresses': ['Doncaster DN11 0BQ...,"{'destination_addresses': ['Doncaster DN4 5PD,...",34.486723,1.445309,2.857065
2,DN11 0PU,HX5 9JP,LS10 1SD,577.89,"{'destination_addresses': ['Elland HX5 9JP, UK...","{'destination_addresses': ['Leeds LS10 1SD, UK...",51.076091,"{'destination_addresses': ['Elland HX5 9JP, UK...","{'destination_addresses': ['Doncaster DN4 5PD,...",20.597212,51.076091,49.645073
3,DN11 0PU,S44 5HY,LS10 1SD,349.00,{'destination_addresses': ['Chesterfield S44 5...,"{'destination_addresses': ['Leeds LS10 1SD, UK...",22.996326,{'destination_addresses': ['Chesterfield S44 5...,"{'destination_addresses': ['Doncaster DN4 5PD,...",45.900690,22.996326,23.029880
4,DN11 0PU,S62 6EF,LS10 1SD,1803.00,"{'destination_addresses': ['Rotherham S62 6EF,...","{'destination_addresses': ['Leeds LS10 1SD, UK...",15.147787,"{'destination_addresses': ['Rotherham S62 6EF,...","{'destination_addresses': ['Doncaster DN4 5PD,...",30.460859,15.147787,18.290061
...,...,...,...,...,...,...,...,...,...,...,...,...
1197,WF10 5UA,YO30 1AP,LS10 1SD,2530.00,"{'destination_addresses': ['Shipton, York YO30...","{'destination_addresses': ['Leeds LS10 1SD, UK...",35.090695,"{'destination_addresses': ['Shipton, York YO30...","{'destination_addresses': ['Doncaster DN4 5PD,...",32.167144,35.090695,50.985370
1198,WF10 5UA,YO41 1HS,LS10 1SD,250.20,"{'destination_addresses': ['Full Sutton, York ...","{'destination_addresses': ['Leeds LS10 1SD, UK...",41.938827,"{'destination_addresses': ['Full Sutton, York ...","{'destination_addresses': ['Doncaster DN4 5PD,...",38.708940,41.938827,46.763153
1199,WF10 5UA,YO43 4TW,LS10 1SD,284.98,"{'destination_addresses': ['North Newbald, Yor...","{'destination_addresses': ['Leeds LS10 1SD, UK...",39.437187,"{'destination_addresses': ['North Newbald, Yor...","{'destination_addresses': ['Doncaster DN4 5PD,...",47.623131,39.437187,38.336117
1200,WF10 5UA,YO7 3HR,LS10 1SD,163.21,"{'destination_addresses': ['Dalton, Thirsk YO7...","{'destination_addresses': ['Leeds LS10 1SD, UK...",42.390564,"{'destination_addresses': ['Dalton, Thirsk YO7...","{'destination_addresses': ['Doncaster DN4 5PD,...",39.422895,42.390564,58.241122
1201,WS11 8XY,YO25 9TS,LS10 1SD,904.34,"{'destination_addresses': ['Lund, Driffield YO...","{'destination_addresses': ['Leeds LS10 1SD, UK...",124.545156,"{'destination_addresses': ['Lund, Driffield YO...","{'destination_addresses': ['Doncaster DN4 5PD,...",55.293337,124.545156,46.006323

In [110]:
routes = routes[~(routes['leeds_out_miles_converted']==-1) & ~(routes['leeds_back_miles_converted']==-1)]
routes

,load_pc,coldel_pc,unload_pc,Revenue,leeds_out_miles,leeds_back_miles,leeds_out_miles_converted,switch_out_miles,switch_back_miles,leeds_back_miles_converted,switch_out_miles_converted,switch_back_miles_converted
0,DN11 0PU,DL1 4XT,LS10 1SD,752.00,{'destination_addresses': ['Darlington DL1 4XT...,"{'destination_addresses': ['Leeds LS10 1SD, UK...",89.381139,{'destination_addresses': ['Darlington DL1 4XT...,"{'destination_addresses': ['Doncaster DN4 5PD,...",69.888103,89.381139,88.706330
1,DN11 0PU,DN11 0BQ,LS10 1SD,1016.00,{'destination_addresses': ['Doncaster DN11 0BQ...,"{'destination_addresses': ['Leeds LS10 1SD, UK...",1.445309,{'destination_addresses': ['Doncaster DN11 0BQ...,"{'destination_addresses': ['Doncaster DN4 5PD,...",34.486723,1.445309,2.857065
2,DN11 0PU,HX5 9JP,LS10 1SD,577.89,"{'destination_addresses': ['Elland HX5 9JP, UK...","{'destination_addresses': ['Leeds LS10 1SD, UK...",51.076091,"{'destination_addresses': ['Elland HX5 9JP, UK...","{'destination_addresses': ['Doncaster DN4 5PD,...",20.597212,51.076091,49.645073
3,DN11 0PU,S44 5HY,LS10 1SD,349.00,{'destination_addresses': ['Chesterfield S44 5...,"{'destination_addresses': ['Leeds LS10 1SD, UK...",22.996326,{'destination_addresses': ['Chesterfield S44 5...,"{'destination_addresses': ['Doncaster DN4 5PD,...",45.900690,22.996326,23.029880
4,DN11 0PU,S62 6EF,LS10 1SD,1803.00,"{'destination_addresses': ['Rotherham S62 6EF,...","{'destination_addresses': ['Leeds LS10 1SD, UK...",15.147787,"{'destination_addresses': ['Rotherham S62 6EF,...","{'destination_addresses': ['Doncaster DN4 5PD,...",30.460859,15.147787,18.290061
...,...,...,...,...,...,...,...,...,...,...,...,...
1197,WF10 5UA,YO30 1AP,LS10 1SD,2530.00,"{'destination_addresses': ['Shipton, York YO30...","{'destination_addresses': ['Leeds LS10 1SD, UK...",35.090695,"{'destination_addresses': ['Shipton, York YO30...","{'destination_addresses': ['Doncaster DN4 5PD,...",32.167144,35.090695,50.985370
1198,WF10 5UA,YO41 1HS,LS10 1SD,250.20,"{'destination_addresses': ['Full Sutton, York ...","{'destination_addresses': ['Leeds LS10 1SD, UK...",41.938827,"{'destination_addresses': ['Full Sutton, York ...","{'destination_addresses': ['Doncaster DN4 5PD,...",38.708940,41.938827,46.763153
1199,WF10 5UA,YO43 4TW,LS10 1SD,284.98,"{'destination_addresses': ['North Newbald, Yor...","{'destination_addresses': ['Leeds LS10 1SD, UK...",39.437187,"{'destination_addresses': ['North Newbald, Yor...","{'destination_addresses': ['Doncaster DN4 5PD,...",47.623131,39.437187,38.336117
1200,WF10 5UA,YO7 3HR,LS10 1SD,163.21,"{'destination_addresses': ['Dalton, Thirsk YO7...","{'destination_addresses': ['Leeds LS10 1SD, UK...",42.390564,"{'destination_addresses': ['Dalton, Thirsk YO7...","{'destination_addresses': ['Doncaster DN4 5PD,...",39.422895,42.390564,58.241122
1201,WS11 8XY,YO25 9TS,LS10 1SD,904.34,"{'destination_addresses': ['Lund, Driffield YO...","{'destination_addresses': ['Leeds LS10 1SD, UK...",124.545156,"{'destination_addresses': ['Lund, Driffield YO...","{'destination_addresses': ['Doncaster DN4 5PD,...",55.293337,124.545156,46.006323

In [111]:
routes["Leeds_Distance"] = routes["leeds_out_miles_converted"] + routes["leeds_back_miles_converted"]
routes["Doncaster_Distance"] = routes["switch_out_miles_converted"] + routes["switch_back_miles_converted"]
routes

/var/folders/4r/y80n195n7bzf_nd0xqdjksd80000gn/T/ipykernel_15214/2749590887.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  routes["Leeds_Distance"] = routes["leeds_out_miles_converted"] + routes["leeds_back_miles_converted"]
/var/folders/4r/y80n195n7bzf_nd0xqdjksd80000gn/T/ipykernel_15214/2749590887.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  routes["Doncaster_Distance"] = routes["switch_out_miles_converted"] + routes["switch_back_miles_converted"]

,load_pc,coldel_pc,unload_pc,Revenue,leeds_out_miles,leeds_back_miles,leeds_out_miles_converted,switch_out_miles,switch_back_miles,leeds_back_miles_converted,switch_out_miles_converted,switch_back_miles_converted,Leeds_Distance,Doncaster_Distance
0,DN11 0PU,DL1 4XT,LS10 1SD,752.00,{'destination_addresses': ['Darlington DL1 4XT...,"{'destination_addresses': ['Leeds LS10 1SD, UK...",89.381139,{'destination_addresses': ['Darlington DL1 4XT...,"{'destination_addresses': ['Doncaster DN4 5PD,...",69.888103,89.381139,88.706330,159.269243,178.087469
1,DN11 0PU,DN11 0BQ,LS10 1SD,1016.00,{'destination_addresses': ['Doncaster DN11 0BQ...,"{'destination_addresses': ['Leeds LS10 1SD, UK...",1.445309,{'destination_addresses': ['Doncaster DN11 0BQ...,"{'destination_addresses': ['Doncaster DN4 5PD,...",34.486723,1.445309,2.857065,35.932032,4.302374
2,DN11 0PU,HX5 9JP,LS10 1SD,577.89,"{'destination_addresses': ['Elland HX5 9JP, UK...","{'destination_addresses': ['Leeds LS10 1SD, UK...",51.076091,"{'destination_addresses': ['Elland HX5 9JP, UK...","{'destination_addresses': ['Doncaster DN4 5PD,...",20.597212,51.076091,49.645073,71.673303,100.721163
3,DN11 0PU,S44 5HY,LS10 1SD,349.00,{'destination_addresses': ['Chesterfield S44 5...,"{'destination_addresses': ['Leeds LS10 1SD, UK...",22.996326,{'destination_addresses': ['Chesterfield S44 5...,"{'destination_addresses': ['Doncaster DN4 5PD,...",45.900690,22.996326,23.029880,68.897016,46.026207
4,DN11 0PU,S62 6EF,LS10 1SD,1803.00,"{'destination_addresses': ['Rotherham S62 6EF,...","{'destination_addresses': ['Leeds LS10 1SD, UK...",15.147787,"{'destination_addresses': ['Rotherham S62 6EF,...","{'destination_addresses': ['Doncaster DN4 5PD,...",30.460859,15.147787,18.290061,45.608646,33.437848
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1197,WF10 5UA,YO30 1AP,LS10 1SD,2530.00,"{'destination_addresses': ['Shipton, York YO30...","{'destination_addresses': ['Leeds LS10 1SD, UK...",35.090695,"{'destination_addresses': ['Shipton, York YO30...","{'destination_addresses': ['Doncaster DN4 5PD,...",32.167144,35.090695,50.985370,67.257839,86.076066
1198,WF10 5UA,YO41 1HS,LS10 1SD,250.20,"{'destination_addresses': ['Full Sutton, York ...","{'destination_addresses': ['Leeds LS10 1SD, UK...",41.938827,"{'destination_addresses': ['Full Sutton, York ...","{'destination_addresses': ['Doncaster DN4 5PD,...",38.708940,41.938827,46.763153,80.647767,88.701980
1199,WF10 5UA,YO43 4TW,LS10 1SD,284.98,"{'destination_addresses': ['North Newbald, Yor...","{'destination_addresses': ['Leeds LS10 1SD, UK...",39.437187,"{'destination_addresses': ['North Newbald, Yor...","{'destination_addresses': ['Doncaster DN4 5PD,...",47.623131,39.437187,38.336117,87.060318,77.773304
1200,WF10 5UA,YO7 3HR,LS10 1SD,163.21,"{'destination_addresses': ['Dalton, Thirsk YO7...","{'destination_addresses': ['Leeds LS10 1SD, UK...",42.390564,"{'destination_addresses': ['Dalton, Thirsk YO7...","{'destination_addresses': ['Doncaster DN4 5PD,...",39.422895,42.390564,58.241122,81.813459,100.631686
1201,WS11 8XY,YO25 9TS,LS10 1SD,904.34,"{'destination_addresses': ['Lund, Driffield YO...","{'destination_addresses': ['Leeds LS10 1SD, UK...",124.545156,"{'destination_addresses': ['Lund, Driffield YO...","{'destination_addresses': ['Doncaster DN4 5PD,...",55.293337,124.545156,46.006323,179.838493,170.551479

In [114]:
#Exclude Postcode that is causing data errors
#TODO: Check that postcodes are valid with regex
df4 = df3[~df3['coldel_pc'].str.match('TESCO DR')]
df4

,Job Number,Date,Month,Branch,Customer,Customer Name,Job Type,Job Category,Revenue,Load Town,load_pc,Summarised Load Postcode,Col/Del Town,coldel_pc,Summarised Col/Del Postcode,Unload Town,unload_pc,Summarised Unload Postcode,Container Size,System Dist
1,220397100,2022-01-18,2022-01-01,LEE,F-AGIGLO,AGI GLOBAL LOGISTICS (LHR) LTD,EXP,STD,278.35,LEEDS,LS10 1RT,LS10,ELLAND,HX5 9JP,HX5,LEEDS,LS10 1SD,LS10,40,48
2,220397101,2022-01-18,2022-01-01,LEE,F-AGIGLO,AGI GLOBAL LOGISTICS (LHR) LTD,EXP,STD,278.35,LEEDS,LS10 1RT,LS10,ELLAND,HX5 9JP,HX5,LEEDS,LS10 1SD,LS10,40,48
3,220397102,2022-01-18,2022-01-01,LEE,F-AGIGLO,AGI GLOBAL LOGISTICS (LHR) LTD,EXP,STD,278.35,LEEDS,LS10 1RT,LS10,ELLAND,HX5 9JP,HX5,LEEDS,LS10 1SD,LS10,40,48
4,220397103,2022-01-18,2022-01-01,LEE,F-AGIGLO,AGI GLOBAL LOGISTICS (LHR) LTD,EXP,STD,278.35,LEEDS,LS10 1RT,LS10,ELLAND,HX5 9JP,HX5,LEEDS,LS10 1SD,LS10,40,48
5,220509328,2022-01-25,2022-01-01,LEE,F-AGIGLO,AGI GLOBAL LOGISTICS (LHR) LTD,EXP,STD,278.35,LEEDS,LS10 1RT,LS10,ELLAND,HX5 9JP,HX5,LEEDS,LS10 1SD,LS10,40,48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10499,223189749,2022-08-09,2022-08-01,LEE,F-TURKON,TURKON LINE (UK) LTD,IMP,STD,195.49,LEEDS,LS10 1SD,LS10,BURNLEY,BB10 2BQ,BB10,RELOAD,LS10 1SD,LS10,40,140
10500,223296408,2022-08-09,2022-08-01,LEE,F-TURKON,TURKON LINE (UK) LTD,EXP,STD,260.49,RELOAD,LS10 1SD,LS10,WIGAN,WN2 4XG,WN2,LEEDS,LS10 1SD,LS10,40,118
10501,223298739,2022-08-09,2022-08-01,LEE,F-TURKON,TURKON LINE (UK) LTD,EXP,STD,260.49,LIFT ON CONTAINER,LS10 1SD,LS10,SCUNTHORPE,DN16 1XA,DN16,LEEDS,LS10 1SD,LS10,40,114
10503,223304235,2022-08-17,2022-08-01,LEE,F-TURKON,TURKON LINE (UK) LTD,IMP,STD,315.26,LEEDS,LS10 1SD,LS10,GILBERDYKE,HU15 2UP,HU15,LEEDS,LS10 1RT,LS10,40,88
10505,223410686,2022-08-22,2022-08-01,LEE,F-TURKON,TURKON LINE (UK) LTD,IMP,STD,254.45,LEEDS,LS10 1SD,LS10,SELBY,YO8 6DJ,YO8,LEEDS,LS10 1RT,LS10,40,60

In [118]:
#Get Leeds Distance and Switch Distance from routes table and apply it to the route in each row
df5 = pd.merge(left=df4, right=routes[['load_pc', 'coldel_pc', 'unload_pc', 'Leeds_Distance', 'Doncaster_Distance']], how="left", left_on=['load_pc', 'coldel_pc', 'unload_pc'], right_on=['load_pc', 'coldel_pc', 'unload_pc'])
df5

,Job Number,Date,Month,Branch,Customer,Customer Name,Job Type,Job Category,Revenue,Load Town,...,Col/Del Town,coldel_pc,Summarised Col/Del Postcode,Unload Town,unload_pc,Summarised Unload Postcode,Container Size,System Dist,Leeds_Distance,Doncaster_Distance
0,220397100,2022-01-18,2022-01-01,LEE,F-AGIGLO,AGI GLOBAL LOGISTICS (LHR) LTD,EXP,STD,278.35,LEEDS,...,ELLAND,HX5 9JP,HX5,LEEDS,LS10 1SD,LS10,40,48,42.913759,71.961619
1,220397101,2022-01-18,2022-01-01,LEE,F-AGIGLO,AGI GLOBAL LOGISTICS (LHR) LTD,EXP,STD,278.35,LEEDS,...,ELLAND,HX5 9JP,HX5,LEEDS,LS10 1SD,LS10,40,48,42.913759,71.961619
2,220397102,2022-01-18,2022-01-01,LEE,F-AGIGLO,AGI GLOBAL LOGISTICS (LHR) LTD,EXP,STD,278.35,LEEDS,...,ELLAND,HX5 9JP,HX5,LEEDS,LS10 1SD,LS10,40,48,42.913759,71.961619
3,220397103,2022-01-18,2022-01-01,LEE,F-AGIGLO,AGI GLOBAL LOGISTICS (LHR) LTD,EXP,STD,278.35,LEEDS,...,ELLAND,HX5 9JP,HX5,LEEDS,LS10 1SD,LS10,40,48,42.913759,71.961619
4,220509328,2022-01-25,2022-01-01,LEE,F-AGIGLO,AGI GLOBAL LOGISTICS (LHR) LTD,EXP,STD,278.35,LEEDS,...,ELLAND,HX5 9JP,HX5,LEEDS,LS10 1SD,LS10,40,48,42.913759,71.961619
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8186,223189749,2022-08-09,2022-08-01,LEE,F-TURKON,TURKON LINE (UK) LTD,IMP,STD,195.49,LEEDS,...,BURNLEY,BB10 2BQ,BB10,RELOAD,LS10 1SD,LS10,40,140,104.611568,161.118443
8187,223296408,2022-08-09,2022-08-01,LEE,F-TURKON,TURKON LINE (UK) LTD,EXP,STD,260.49,RELOAD,...,WIGAN,WN2 4XG,WN2,LEEDS,LS10 1SD,LS10,40,118,108.434244,164.941119
8188,223298739,2022-08-09,2022-08-01,LEE,F-TURKON,TURKON LINE (UK) LTD,EXP,STD,260.49,LIFT ON CONTAINER,...,SCUNTHORPE,DN16 1XA,DN16,LEEDS,LS10 1SD,LS10,40,114,110.044838,66.156769
8189,223304235,2022-08-17,2022-08-01,LEE,F-TURKON,TURKON LINE (UK) LTD,IMP,STD,315.26,LEEDS,...,GILBERDYKE,HU15 2UP,HU15,LEEDS,LS10 1RT,LS10,40,88,83.376829,75.353063
8190,223410686,2022-08-22,2022-08-01,LEE,F-TURKON,TURKON LINE (UK) LTD,IMP,STD,254.45,LEEDS,...,SELBY,YO8 6DJ,YO8,LEEDS,LS10 1RT,LS10,40,60,79.454734,71.431590

In [120]:
#Check accuracy of Google API vs System Distance
df5['Leeds_Distance'].sum() / df5['System Dist'].sum()

0.971072690182621

In [123]:
#Check for rows where Doncaster reduces distance
df5[df5['Doncaster_Distance'] < df5['Leeds_Distance']]

,Job Number,Date,Month,Branch,Customer,Customer Name,Job Type,Job Category,Revenue,Load Town,...,Col/Del Town,coldel_pc,Summarised Col/Del Postcode,Unload Town,unload_pc,Summarised Unload Postcode,Container Size,System Dist,Leeds_Distance,Doncaster_Distance
31,220287935,2022-01-11,2022-01-01,LEE,F-CARDIN,CARDINAL MARITIME LTD,IMP,STD,300.56,LEEDS,...,GOOLE,DN14 6ET,DN14,LEEDS,LS10 1SD,LS10,20,68,63.025059,45.714900
36,220287933,2022-01-12,2022-01-01,LEE,F-CARDIN,CARDINAL MARITIME LTD,IMP,STD,300.56,LEEDS,...,GOOLE,DN14 6ET,DN14,LEEDS,LS10 1SD,LS10,20,68,63.025059,45.714900
56,220397561,2022-01-17,2022-01-01,LEE,F-CARDIN,CARDINAL MARITIME LTD,IMP,STD,420.80,LEEDS,...,IMMINGHAM,DN40 2QR,DN40,LEEDS,LS10 1SD,LS10,40,148,138.265654,94.377585
120,215282372,2022-01-04,2022-01-01,LEE,F-CMA,CMA CGM SA,IMP,STD,349.00,LEEDS,...,SUTTON IN ASHFIELD,NG17 2HU,NG17,LEEDS,LS10 1SD,LS10,40,132,114.998409,70.556699
121,215282373,2022-01-04,2022-01-01,LEE,F-CMA,CMA CGM SA,IMP,STD,349.00,LEEDS,...,SUTTON IN ASHFIELD,NG17 2HU,NG17,LEEDS,LS10 1SD,LS10,40,132,114.998409,70.556699
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8158,223520825,2022-08-31,2022-08-01,LEE,F-ONE,OCEAN NETWORK EXPRESS PTE LTD,IMP,STD,286.60,LEEDS,...,SHEFFIELD,S3 8AB,S3 8,LEEDS,LS10 1SD,LS10,40,70,60.651421,43.975061
8159,223520828,2022-08-31,2022-08-01,LEE,F-ONE,OCEAN NETWORK EXPRESS PTE LTD,EXP,STD,314.92,LEEDS,...,GOOLE,DN147LA,DN14,LEEDS,LS10 1SD,LS10,40,74,72.860122,55.549963
8188,223298739,2022-08-09,2022-08-01,LEE,F-TURKON,TURKON LINE (UK) LTD,EXP,STD,260.49,LIFT ON CONTAINER,...,SCUNTHORPE,DN16 1XA,DN16,LEEDS,LS10 1SD,LS10,40,114,110.044838,66.156769
8189,223304235,2022-08-17,2022-08-01,LEE,F-TURKON,TURKON LINE (UK) LTD,IMP,STD,315.26,LEEDS,...,GILBERDYKE,HU15 2UP,HU15,LEEDS,LS10 1RT,LS10,40,88,83.376829,75.353063
8190,223410686,2022-08-22,2022-08-01,LEE,F-TURKON,TURKON LINE (UK) LTD,IMP,STD,254.45,LEEDS,...,SELBY,YO8 6DJ,YO8,LEEDS,LS10 1RT,LS10,40,60,79.454734,71.431590

In [125]:
north = ['NE', 'DH', 'SR', 'DL', 'TS']
df6 = df5[~df5['coldel_pc'].str.match('|'.join(north))]
df6

,Job Number,Date,Month,Branch,Customer,Customer Name,Job Type,Job Category,Revenue,Load Town,...,Col/Del Town,coldel_pc,Summarised Col/Del Postcode,Unload Town,unload_pc,Summarised Unload Postcode,Container Size,System Dist,Leeds_Distance,Doncaster_Distance
0,220397100,2022-01-18,2022-01-01,LEE,F-AGIGLO,AGI GLOBAL LOGISTICS (LHR) LTD,EXP,STD,278.35,LEEDS,...,ELLAND,HX5 9JP,HX5,LEEDS,LS10 1SD,LS10,40,48,42.913759,71.961619
1,220397101,2022-01-18,2022-01-01,LEE,F-AGIGLO,AGI GLOBAL LOGISTICS (LHR) LTD,EXP,STD,278.35,LEEDS,...,ELLAND,HX5 9JP,HX5,LEEDS,LS10 1SD,LS10,40,48,42.913759,71.961619
2,220397102,2022-01-18,2022-01-01,LEE,F-AGIGLO,AGI GLOBAL LOGISTICS (LHR) LTD,EXP,STD,278.35,LEEDS,...,ELLAND,HX5 9JP,HX5,LEEDS,LS10 1SD,LS10,40,48,42.913759,71.961619
3,220397103,2022-01-18,2022-01-01,LEE,F-AGIGLO,AGI GLOBAL LOGISTICS (LHR) LTD,EXP,STD,278.35,LEEDS,...,ELLAND,HX5 9JP,HX5,LEEDS,LS10 1SD,LS10,40,48,42.913759,71.961619
4,220509328,2022-01-25,2022-01-01,LEE,F-AGIGLO,AGI GLOBAL LOGISTICS (LHR) LTD,EXP,STD,278.35,LEEDS,...,ELLAND,HX5 9JP,HX5,LEEDS,LS10 1SD,LS10,40,48,42.913759,71.961619
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8186,223189749,2022-08-09,2022-08-01,LEE,F-TURKON,TURKON LINE (UK) LTD,IMP,STD,195.49,LEEDS,...,BURNLEY,BB10 2BQ,BB10,RELOAD,LS10 1SD,LS10,40,140,104.611568,161.118443
8187,223296408,2022-08-09,2022-08-01,LEE,F-TURKON,TURKON LINE (UK) LTD,EXP,STD,260.49,RELOAD,...,WIGAN,WN2 4XG,WN2,LEEDS,LS10 1SD,LS10,40,118,108.434244,164.941119
8188,223298739,2022-08-09,2022-08-01,LEE,F-TURKON,TURKON LINE (UK) LTD,EXP,STD,260.49,LIFT ON CONTAINER,...,SCUNTHORPE,DN16 1XA,DN16,LEEDS,LS10 1SD,LS10,40,114,110.044838,66.156769
8189,223304235,2022-08-17,2022-08-01,LEE,F-TURKON,TURKON LINE (UK) LTD,IMP,STD,315.26,LEEDS,...,GILBERDYKE,HU15 2UP,HU15,LEEDS,LS10 1RT,LS10,40,88,83.376829,75.353063
8190,223410686,2022-08-22,2022-08-01,LEE,F-TURKON,TURKON LINE (UK) LTD,IMP,STD,254.45,LEEDS,...,SELBY,YO8 6DJ,YO8,LEEDS,LS10 1RT,LS10,40,60,79.454734,71.431590

In [130]:
df6['Leeds_Band'] = df6['Leeds_Distance'] / 2 / 10
df6['Leeds_Band'] = df6['Leeds_Band'].apply(np.floor)
df6['Doncaster_Band'] = df6['Doncaster_Distance'] / 2 / 10
df6['Doncaster_Band'] = df6['Doncaster_Band'].apply(np.floor)
df6

/var/folders/4r/y80n195n7bzf_nd0xqdjksd80000gn/T/ipykernel_15214/1741641267.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df6['Leeds_Band'] = df6['Leeds_Distance'] / 2 / 10
/var/folders/4r/y80n195n7bzf_nd0xqdjksd80000gn/T/ipykernel_15214/1741641267.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df6['Leeds_Band'] = df6['Leeds_Band'].apply(np.floor)
/var/folders/4r/y80n195n7bzf_nd0xqdjksd80000gn/T/ipykernel_15214/1741641267.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df6['Doncaster_Band'] = df6['Doncaster_Distance'] / 2 / 10
/var/folders/4r/y80n195n7bzf_nd0xqdjksd80000gn/T/ipykernel_15214/1741641267.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df6['Doncaster_Band'] = df6['Doncaster_Band'].apply(np.floor)

,Job Number,Date,Month,Branch,Customer,Customer Name,Job Type,Job Category,Revenue,Load Town,...,Summarised Col/Del Postcode,Unload Town,unload_pc,Summarised Unload Postcode,Container Size,System Dist,Leeds_Distance,Doncaster_Distance,Leeds_Band,Doncaster_Band
0,220397100,2022-01-18,2022-01-01,LEE,F-AGIGLO,AGI GLOBAL LOGISTICS (LHR) LTD,EXP,STD,278.35,LEEDS,...,HX5,LEEDS,LS10 1SD,LS10,40,48,42.913759,71.961619,2.0,3.0
1,220397101,2022-01-18,2022-01-01,LEE,F-AGIGLO,AGI GLOBAL LOGISTICS (LHR) LTD,EXP,STD,278.35,LEEDS,...,HX5,LEEDS,LS10 1SD,LS10,40,48,42.913759,71.961619,2.0,3.0
2,220397102,2022-01-18,2022-01-01,LEE,F-AGIGLO,AGI GLOBAL LOGISTICS (LHR) LTD,EXP,STD,278.35,LEEDS,...,HX5,LEEDS,LS10 1SD,LS10,40,48,42.913759,71.961619,2.0,3.0
3,220397103,2022-01-18,2022-01-01,LEE,F-AGIGLO,AGI GLOBAL LOGISTICS (LHR) LTD,EXP,STD,278.35,LEEDS,...,HX5,LEEDS,LS10 1SD,LS10,40,48,42.913759,71.961619,2.0,3.0
4,220509328,2022-01-25,2022-01-01,LEE,F-AGIGLO,AGI GLOBAL LOGISTICS (LHR) LTD,EXP,STD,278.35,LEEDS,...,HX5,LEEDS,LS10 1SD,LS10,40,48,42.913759,71.961619,2.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8186,223189749,2022-08-09,2022-08-01,LEE,F-TURKON,TURKON LINE (UK) LTD,IMP,STD,195.49,LEEDS,...,BB10,RELOAD,LS10 1SD,LS10,40,140,104.611568,161.118443,5.0,8.0
8187,223296408,2022-08-09,2022-08-01,LEE,F-TURKON,TURKON LINE (UK) LTD,EXP,STD,260.49,RELOAD,...,WN2,LEEDS,LS10 1SD,LS10,40,118,108.434244,164.941119,5.0,8.0
8188,223298739,2022-08-09,2022-08-01,LEE,F-TURKON,TURKON LINE (UK) LTD,EXP,STD,260.49,LIFT ON CONTAINER,...,DN16,LEEDS,LS10 1SD,LS10,40,114,110.044838,66.156769,5.0,3.0
8189,223304235,2022-08-17,2022-08-01,LEE,F-TURKON,TURKON LINE (UK) LTD,IMP,STD,315.26,LEEDS,...,HU15,LEEDS,LS10 1RT,LS10,40,88,83.376829,75.353063,4.0,3.0
8190,223410686,2022-08-22,2022-08-01,LEE,F-TURKON,TURKON LINE (UK) LTD,IMP,STD,254.45,LEEDS,...,YO8,LEEDS,LS10 1RT,LS10,40,60,79.454734,71.431590,3.0,3.0

In [137]:
test = df6.groupby(by=['Customer'])['Revenue'].sum().reset_index().sort_values(by='Revenue', ascending=False)
test

    Customer    Revenue
11    F-EVER  353052.71
5      F-CMA  291443.21
31     F-ONE  166165.18
4   F-CARDIN  126659.47
15  F-HAMSUD  125425.14
16   F-HAPAG   60369.23
18  F-HELLIC   47907.84
7   F-CONCOR   23886.90
1   F-AGIGLO   21823.35
40  F-TURKON   14286.93
21     F-IMA    5779.77
24  F-KINGCR    5086.47
39  F-TRANS2    3646.51
33  F-PROFES    3345.75
30  F-OCEANW    2908.33
34    F-PUMA    2744.50
38  F-TOLLGL    2557.45
12  F-EXPGLA    2506.17
17  F-HARLOG    2197.63
27   F-METRO    1512.61
20  F-HERBER    1216.79
26  F-MERCAT    1176.55
43  F-VIKING    1078.09
3   F-BRISTE    1064.00
9     F-CORY     941.84
0   F-ACEONA     818.26
10  F-DAVTU0     799.49
29  F-MWFREI     678.86
6   F-COASTA     637.36
36  F-SEAROU     623.50
2   F-ATLHAU     621.22
13  F-FREAIR     595.70
32  F-PDFREI     556.70
23  F-KINGBI     534.43
28  F-MISSIO     519.79
35  F-RBCCUS     339.59
44   F-YUSEN     325.68
8   F-CONSOL     325.68
19  F-HENDIA     319.87
14  F-GEOFEL     311.75
41  F-TWARDS     311.75
25  F-LIGENT     279.82
37  F-SOSCAR     278.35
42  F-UNIEXP     278.35
22  F-JFHILL     244.09

In [163]:
rates = pd.read_excel(r'RoadTariffsOctober.xlsx', sheet_name='All_Cust_Oct_python')
rates

,Miles,Mileage_Band,Bollore,Cardinal/Far,Cetas,CMA,DHL,Evergreen,Expeditors,Hamsud,...,MSC Modeless,ONE,OOCL,Target,Transocean,Turkon,Yang Ming,Average,Low,High
0,0 - 10,0,316,316,257,223,248,276,316,203,...,207,253,199,316,224.0,212,315,255,199,336
1,44136,1,316,316,272,232,263,288,316,225,...,223,268,210,316,237.0,222,315,265,210,336
2,21 - 30,2,316,316,284,258,287,301,316,257,...,241,277,230,316,249.0,244,315,279,230,336
3,31 - 40,3,339,316,302,285,310,313,316,289,...,270,304,255,354,269.0,264,315,296,249,339
4,41 - 50,4,373,398,339,312,359,325,341,321,...,298,331,285,385,293.0,304,360,330,278,398
5,51 - 60,5,406,434,372,348,401,376,391,353,...,325,358,316,417,327.0,342,408,366,305,434
6,61 - 70,6,440,470,419,392,436,405,427,387,...,354,389,344,455,342.0,376,443,399,333,470
7,71 - 80,7,473,506,443,419,469,435,461,416,...,371,416,373,487,365.0,405,479,428,353,506
8,81 - 90,8,498,532,478,455,503,466,493,448,...,401,437,403,512,402.0,434,519,459,381,532
9,91 - 100,9,532,569,510,481,540,492,527,480,...,439,466,436,550,420.0,464,552,490,410,569
10,101 - 110,10,557,596,539,508,573,527,561,512,...,463,490,465,575,450.0,493,587,519,422,598
11,111 - 120,11,590,632,569,535,605,546,592,543,...,498,514,496,607,477.0,526,624,549,458,634
12,121 - 130,12,624,668,589,570,629,574,614,575,...,522,571,518,645,514.0,543,649,579,485,668
13,131 - 140,13,657,703,606,606,651,617,638,607,...,559,597,553,676,551.0,560,671,607,513,703
14,141 - 150,14,681,729,656,642,698,657,683,639,...,595,619,583,701,588.0,605,723,645,542,735
15,151 - 160,15,708,758,684,677,731,699,711,671,...,629,655,621,727,625.0,632,754,678,569,767
16,161 - 170,16,749,802,697,704,753,739,738,702,...,670,693,658,771,NaN,655,785,712,597,802
17,171 - 180,17,770,824,721,749,781,787,762,734,...,687,711,684,790,NaN,678,804,740,631,824
18,181 - 190,18,815,872,757,784,810,829,796,766,...,715,747,720,840,NaN,706,842,773,644,872
19,191 - 200,19,858,918,777,811,833,872,815,798,...,800,774,756,885,NaN,726,864,806,680,918
20,201 - 210,20,892,956,814,838,880,914,859,830,...,841,816,781,916,NaN,764,912,852,764,956
21,211 - 220,21,924,989,857,882,923,956,904,861,...,881,863,810,948,NaN,806,962,892,806,989
22,221 - 230,22,967,1035,884,936,961,998,938,893,...,909,903,846,998,NaN,839,1000,929,839,1035
23,231 - 240,23,1009,1079,917,972,995,1039,971,925,...,945,937,875,1036,NaN,867,1033,964,867,1079
24,241 - 250,24,1050,1124,943,1016,1041,1083,1016,957,...,971,974,913,1081,NaN,910,1081,1004,910,1124

In [164]:
rates.rename(columns={'Evergreen': 'F-EVER', 'CMA': 'F-CMA', 'ONE': 'F-ONE', 'Cardinal/Far':'F-CARDIN', 'Hamsud':'F-HAMSUD', 'Hapag':'F-HAPAG','Turkon':'F-TURKON', 'Transocean': 'F-TRANS2'}, inplace=True)
rates

,Miles,Mileage_Band,Bollore,F-CARDIN,Cetas,F-CMA,DHL,F-EVER,Expeditors,F-HAMSUD,...,MSC Modeless,F-ONE,OOCL,Target,F-TRANS2,F-TURKON,Yang Ming,Average,Low,High
0,0 - 10,0,316,316,257,223,248,276,316,203,...,207,253,199,316,224.0,212,315,255,199,336
1,44136,1,316,316,272,232,263,288,316,225,...,223,268,210,316,237.0,222,315,265,210,336
2,21 - 30,2,316,316,284,258,287,301,316,257,...,241,277,230,316,249.0,244,315,279,230,336
3,31 - 40,3,339,316,302,285,310,313,316,289,...,270,304,255,354,269.0,264,315,296,249,339
4,41 - 50,4,373,398,339,312,359,325,341,321,...,298,331,285,385,293.0,304,360,330,278,398
5,51 - 60,5,406,434,372,348,401,376,391,353,...,325,358,316,417,327.0,342,408,366,305,434
6,61 - 70,6,440,470,419,392,436,405,427,387,...,354,389,344,455,342.0,376,443,399,333,470
7,71 - 80,7,473,506,443,419,469,435,461,416,...,371,416,373,487,365.0,405,479,428,353,506
8,81 - 90,8,498,532,478,455,503,466,493,448,...,401,437,403,512,402.0,434,519,459,381,532
9,91 - 100,9,532,569,510,481,540,492,527,480,...,439,466,436,550,420.0,464,552,490,410,569
10,101 - 110,10,557,596,539,508,573,527,561,512,...,463,490,465,575,450.0,493,587,519,422,598
11,111 - 120,11,590,632,569,535,605,546,592,543,...,498,514,496,607,477.0,526,624,549,458,634
12,121 - 130,12,624,668,589,570,629,574,614,575,...,522,571,518,645,514.0,543,649,579,485,668
13,131 - 140,13,657,703,606,606,651,617,638,607,...,559,597,553,676,551.0,560,671,607,513,703
14,141 - 150,14,681,729,656,642,698,657,683,639,...,595,619,583,701,588.0,605,723,645,542,735
15,151 - 160,15,708,758,684,677,731,699,711,671,...,629,655,621,727,625.0,632,754,678,569,767
16,161 - 170,16,749,802,697,704,753,739,738,702,...,670,693,658,771,NaN,655,785,712,597,802
17,171 - 180,17,770,824,721,749,781,787,762,734,...,687,711,684,790,NaN,678,804,740,631,824
18,181 - 190,18,815,872,757,784,810,829,796,766,...,715,747,720,840,NaN,706,842,773,644,872
19,191 - 200,19,858,918,777,811,833,872,815,798,...,800,774,756,885,NaN,726,864,806,680,918
20,201 - 210,20,892,956,814,838,880,914,859,830,...,841,816,781,916,NaN,764,912,852,764,956
21,211 - 220,21,924,989,857,882,923,956,904,861,...,881,863,810,948,NaN,806,962,892,806,989
22,221 - 230,22,967,1035,884,936,961,998,938,893,...,909,903,846,998,NaN,839,1000,929,839,1035
23,231 - 240,23,1009,1079,917,972,995,1039,971,925,...,945,937,875,1036,NaN,867,1033,964,867,1079
24,241 - 250,24,1050,1124,943,1016,1041,1083,1016,957,...,971,974,913,1081,NaN,910,1081,1004,910,1124

In [180]:
#Apply current rates to each job for Leeds and Doncaster, using actual client rates where available or average otherwise
df7 = df6
int_cols = ['Leeds_Band', 'Doncaster_Band']
df7[int_cols] = df7[int_cols].applymap(np.int64)

def apply_leeds_rates(x):
    try:
        if x.Customer in rates.columns:
            if rates[x.Customer].iloc[x.Leeds_Band] > 0:
                return rates[x.Customer].iloc[x.Leeds_Band]
            else:
                return rates['Average'].iloc[x.Leeds_Band]
        else:
            return rates['Average'].iloc[x.Leeds_Band]
    except:
        return -1

def apply_doncaster_rates(x):
    try:
        if x.Customer in rates.columns:
            if rates[x.Customer].iloc[x.Doncaster_Band] > 0:
                return rates[x.Customer].iloc[x.Doncaster_Band]
            else:
                return rates['Average'].iloc[x.Doncaster_Band]
        else:
            return rates['Average'].iloc[x.Doncaster_Band]
    except:
        return -1

df7['Leeds_Revenue'] = df7[['Customer', 'Leeds_Band']].apply(apply_leeds_rates, axis=1)
df7['Doncaster_Revenue'] = df7[['Customer', 'Doncaster_Band']].apply(apply_doncaster_rates, axis=1)
df8 = df7[df7['Leeds_Revenue']!=-1]
df8

/var/folders/4r/y80n195n7bzf_nd0xqdjksd80000gn/T/ipykernel_15214/1019197079.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df7[int_cols] = df7[int_cols].applymap(np.int64)
/var/folders/4r/y80n195n7bzf_nd0xqdjksd80000gn/T/ipykernel_15214/1019197079.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df7['Leeds_Revenue'] = df7[['Customer', 'Leeds_Band']].apply(apply_leeds_rates, axis=1)
/var/folders/4r/y80n195n7bzf_nd0xqdjksd80000gn/T/ipykernel_15214/1019197079.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df7['Doncaster_Revenue'] = df7[['Customer', 'Doncaster_Band']].apply(apply_doncaster_rates, axis=1)

,Job Number,Date,Month,Branch,Customer,Customer Name,Job Type,Job Category,Revenue,Load Town,...,Summarised Unload Postcode,Container Size,System Dist,Leeds_Distance,Doncaster_Distance,Leeds_Band,Doncaster_Band,PC_Area,Leeds_Revenue,Doncaster_Revenue
0,220397100,2022-01-18,2022-01-01,LEE,F-AGIGLO,AGI GLOBAL LOGISTICS (LHR) LTD,EXP,STD,278.35,LEEDS,...,LS10,40,48,42.913759,71.961619,2,3,HX,279.0,296.0
1,220397101,2022-01-18,2022-01-01,LEE,F-AGIGLO,AGI GLOBAL LOGISTICS (LHR) LTD,EXP,STD,278.35,LEEDS,...,LS10,40,48,42.913759,71.961619,2,3,HX,279.0,296.0
2,220397102,2022-01-18,2022-01-01,LEE,F-AGIGLO,AGI GLOBAL LOGISTICS (LHR) LTD,EXP,STD,278.35,LEEDS,...,LS10,40,48,42.913759,71.961619,2,3,HX,279.0,296.0
3,220397103,2022-01-18,2022-01-01,LEE,F-AGIGLO,AGI GLOBAL LOGISTICS (LHR) LTD,EXP,STD,278.35,LEEDS,...,LS10,40,48,42.913759,71.961619,2,3,HX,279.0,296.0
4,220509328,2022-01-25,2022-01-01,LEE,F-AGIGLO,AGI GLOBAL LOGISTICS (LHR) LTD,EXP,STD,278.35,LEEDS,...,LS10,40,48,42.913759,71.961619,2,3,HX,279.0,296.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8186,223189749,2022-08-09,2022-08-01,LEE,F-TURKON,TURKON LINE (UK) LTD,IMP,STD,195.49,LEEDS,...,LS10,40,140,104.611568,161.118443,5,8,BB,342.0,434.0
8187,223296408,2022-08-09,2022-08-01,LEE,F-TURKON,TURKON LINE (UK) LTD,EXP,STD,260.49,RELOAD,...,LS10,40,118,108.434244,164.941119,5,8,WN,342.0,434.0
8188,223298739,2022-08-09,2022-08-01,LEE,F-TURKON,TURKON LINE (UK) LTD,EXP,STD,260.49,LIFT ON CONTAINER,...,LS10,40,114,110.044838,66.156769,5,3,DN,342.0,264.0
8189,223304235,2022-08-17,2022-08-01,LEE,F-TURKON,TURKON LINE (UK) LTD,IMP,STD,315.26,LEEDS,...,LS10,40,88,83.376829,75.353063,4,3,HU,304.0,264.0
8190,223410686,2022-08-22,2022-08-01,LEE,F-TURKON,TURKON LINE (UK) LTD,IMP,STD,254.45,LEEDS,...,LS10,40,60,79.454734,71.431590,3,3,YO,264.0,264.0

In [181]:
df9 = df8
df9['PC_Area'] = df9['coldel_pc'].str.extract(r'(^[a-zA-Z][a-zA-Z]?)')
df9['Switch_Difference'] = df9['Leeds_Revenue'] - df9['Doncaster_Revenue']
df9

/var/folders/4r/y80n195n7bzf_nd0xqdjksd80000gn/T/ipykernel_15214/2037391712.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df9['PC_Area'] = df9['coldel_pc'].str.extract(r'(^[a-zA-Z][a-zA-Z]?)')
/var/folders/4r/y80n195n7bzf_nd0xqdjksd80000gn/T/ipykernel_15214/2037391712.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df9['Switch_Difference'] = df9['Leeds_Revenue'] - df9['Doncaster_Revenue']

,Job Number,Date,Month,Branch,Customer,Customer Name,Job Type,Job Category,Revenue,Load Town,...,Container Size,System Dist,Leeds_Distance,Doncaster_Distance,Leeds_Band,Doncaster_Band,PC_Area,Leeds_Revenue,Doncaster_Revenue,Switch_Difference
0,220397100,2022-01-18,2022-01-01,LEE,F-AGIGLO,AGI GLOBAL LOGISTICS (LHR) LTD,EXP,STD,278.35,LEEDS,...,40,48,42.913759,71.961619,2,3,HX,279.0,296.0,-17.0
1,220397101,2022-01-18,2022-01-01,LEE,F-AGIGLO,AGI GLOBAL LOGISTICS (LHR) LTD,EXP,STD,278.35,LEEDS,...,40,48,42.913759,71.961619,2,3,HX,279.0,296.0,-17.0
2,220397102,2022-01-18,2022-01-01,LEE,F-AGIGLO,AGI GLOBAL LOGISTICS (LHR) LTD,EXP,STD,278.35,LEEDS,...,40,48,42.913759,71.961619,2,3,HX,279.0,296.0,-17.0
3,220397103,2022-01-18,2022-01-01,LEE,F-AGIGLO,AGI GLOBAL LOGISTICS (LHR) LTD,EXP,STD,278.35,LEEDS,...,40,48,42.913759,71.961619,2,3,HX,279.0,296.0,-17.0
4,220509328,2022-01-25,2022-01-01,LEE,F-AGIGLO,AGI GLOBAL LOGISTICS (LHR) LTD,EXP,STD,278.35,LEEDS,...,40,48,42.913759,71.961619,2,3,HX,279.0,296.0,-17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8186,223189749,2022-08-09,2022-08-01,LEE,F-TURKON,TURKON LINE (UK) LTD,IMP,STD,195.49,LEEDS,...,40,140,104.611568,161.118443,5,8,BB,342.0,434.0,-92.0
8187,223296408,2022-08-09,2022-08-01,LEE,F-TURKON,TURKON LINE (UK) LTD,EXP,STD,260.49,RELOAD,...,40,118,108.434244,164.941119,5,8,WN,342.0,434.0,-92.0
8188,223298739,2022-08-09,2022-08-01,LEE,F-TURKON,TURKON LINE (UK) LTD,EXP,STD,260.49,LIFT ON CONTAINER,...,40,114,110.044838,66.156769,5,3,DN,342.0,264.0,78.0
8189,223304235,2022-08-17,2022-08-01,LEE,F-TURKON,TURKON LINE (UK) LTD,IMP,STD,315.26,LEEDS,...,40,88,83.376829,75.353063,4,3,HU,304.0,264.0,40.0
8190,223410686,2022-08-22,2022-08-01,LEE,F-TURKON,TURKON LINE (UK) LTD,IMP,STD,254.45,LEEDS,...,40,60,79.454734,71.431590,3,3,YO,264.0,264.0,0.0

In [212]:
df10 = df9.groupby(by=['PC_Area']).agg({'Job Number': 'count', 'Switch_Difference': 'sum'}).reset_index().sort_values(by='Switch_Difference', ascending=False)
df10['Job Number'] = df10['Job Number'] / 8 * 12
df10['Switch_Difference'] = df10['Switch_Difference'] / 8 * 12
df10[(df10['Job Number']>200) | (df10['Job Number'] <-200)]

   PC_Area  Job Number  Switch_Difference
17      NG       663.0            37399.5
6       DN       730.5            31834.5
21       S       843.0            17928.0
9       HU       381.0             6876.0
10      HX       204.0            -6985.5
28      YO       414.0           -16569.0
26      WF       531.0           -19417.5
2       BD       786.0           -35718.0
7       HD       585.0           -39778.5
15      LS      1086.0           -41709.0

In [204]:
slice = df9
slice['Doncaster_closer'] = np.where(slice['Doncaster_Band'] <= slice['Leeds_Band'],1,0)
slice['Doncaster_selective_saving'] = slice['Switch_Difference'].clip(0,None)

df11 = slice.groupby(by=['Customer']).agg({'Job Number': 'count', 'Switch_Difference': 'sum', 'Doncaster_closer': 'sum', 'Doncaster_selective_saving': 'sum'}).reset_index().sort_values(by='Doncaster_selective_saving', ascending=False)


df11['Job Number'] = df11['Job Number'] / 8 * 12
df11['Switch_Difference'] = df11['Switch_Difference'] / 8 * 12
df11['Doncaster_closer'] = df11['Doncaster_closer'] / 8 * 12
df11['Doncaster_selective_saving'] = df11['Doncaster_selective_saving'] / 8 * 12
df11

/var/folders/4r/y80n195n7bzf_nd0xqdjksd80000gn/T/ipykernel_15214/3739205552.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  slice['Doncaster_closer'] = np.where(slice['Doncaster_Band'] <= slice['Leeds_Band'],1,0)
/var/folders/4r/y80n195n7bzf_nd0xqdjksd80000gn/T/ipykernel_15214/3739205552.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  slice['Doncaster_selective_saving'] = slice['Switch_Difference'].clip(0,None)

,Customer,Job Number,Switch_Difference,Doncaster_closer,Doncaster_selective_saving
5,F-CMA,1402.5,26059.5,987.0,48201.0
11,F-EVER,1782.0,-15376.5,657.0,21966.0
30,F-ONE,769.5,6286.5,493.5,14442.0
16,F-HAPAG,351.0,715.5,183.0,5352.0
15,F-HAMSUD,829.5,-34966.5,211.5,3915.0
4,F-CARDIN,588.0,-38490.0,51.0,1749.0
7,F-CONCOR,100.5,1585.5,99.0,1683.0
39,F-TURKON,76.5,-820.5,39.0,1024.5
24,F-KINGCR,19.5,469.5,19.5,469.5
33,F-PUMA,13.5,-256.5,4.5,235.5
18,F-HELLIC,232.5,-8604.0,3.0,99.0
23,F-KINGBI,1.5,88.5,1.5,88.5
21,F-IMA,22.5,-417.0,7.5,79.5
2,F-ATLHAU,3.0,15.0,1.5,51.0
35,F-SEAROU,3.0,51.0,3.0,51.0
6,F-COASTA,3.0,42.0,3.0,42.0
1,F-AGIGLO,108.0,-2641.5,1.5,25.5
19,F-HENDIA,1.5,21.0,1.5,21.0
32,F-PROFES,13.5,-459.0,0.0,0.0
31,F-PDFREI,3.0,-93.0,0.0,0.0
0,F-ACEONA,3.0,-186.0,0.0,0.0
34,F-RBCCUS,1.5,-103.5,0.0,0.0
29,F-OCEANW,15.0,-877.5,1.5,0.0
37,F-TOLLGL,12.0,-733.5,0.0,0.0
38,F-TRANS2,22.5,-1116.0,0.0,0.0
40,F-TWARDS,1.5,0.0,1.5,0.0
41,F-UNIEXP,1.5,-21.0,0.0,0.0
42,F-VIKING,4.5,-105.0,3.0,0.0
36,F-SOSCAR,1.5,-61.5,0.0,0.0
22,F-JFHILL,1.5,-97.5,0.0,0.0
28,F-MWFREI,3.0,-123.0,0.0,0.0
27,F-MISSIO,1.5,-43.5,0.0,0.0
26,F-METRO,7.5,-576.0,0.0,0.0
25,F-LIGENT,1.5,-21.0,0.0,0.0
20,F-HERBER,6.0,-390.0,0.0,0.0
17,F-HARLOG,10.5,-325.5,0.0,0.0
14,F-GEOFEL,1.5,-105.0,0.0,0.0
13,F-FREAIR,3.0,-123.0,0.0,0.0
12,F-EXPGLA,4.5,-135.0,0.0,0.0
10,F-DAVTU0,3.0,-130.5,1.5,0.0
9,F-CORY,3.0,-42.0,0.0,0.0
8,F-CONSOL,1.5,-46.5,0.0,0.0
3,F-BRISTE,6.0,0.0,6.0,0.0
43,F-YUSEN,1.5,-97.5,0.0,0.0

In [210]:
df11['Doncaster_selective_saving'].sum()

99495.0

In [217]:
df12 = df9.groupby(by=['Customer', 'coldel_pc', 'Job Type']).agg({'Job Number': 'count', 'Switch_Difference': 'sum'}).reset_index().sort_values(by='Switch_Difference', ascending=False)
df12['Job Number'] = df12['Job Number'] / 8 * 12
df12['Switch_Difference'] = df12['Switch_Difference'] / 8 * 12
df12.head(20)

     Customer coldel_pc Job Type  Job Number  Switch_Difference
137     F-CMA  NG17 2HU      IMP       411.0            22221.0
243    F-EVER  DN40 2LZ      EXP        73.5             8085.0
134     F-CMA  NG15 0DP      IMP       111.0             5778.0
309    F-EVER  S43 3FG       IMP       157.5             3744.0
711     F-ONE  DN31 2SG      EXP        46.5             2511.0
141     F-CMA  NG20 8RY      IMP        46.5             2511.0
718     F-ONE  DN31 3AS      EXP        87.0             2349.0
143     F-CMA  NG24 1DP      EXP        24.0             2325.0
755     F-ONE  HU9 5NF       EXP        82.5             2227.5
144     F-CMA  NG24 2NH      IMP        18.0             1764.0
199  F-CONCOR  DN14 5SS      IMP        99.0             1683.0
562   F-HAPAG  DN20 0SQ      EXP        31.5             1197.0
177     F-CMA  S9 3BZ        IMP        24.0             1194.0
336    F-EVER  S80 3LJ       EXP        43.5             1044.0
262    F-EVER  HU17 0LA      IMP        21.0              994.5
135     F-CMA  NG15 0EB      IMP         9.0              922.5
25   F-CARDIN  LN1 2LD       IMP         7.5              885.0
171     F-CMA  S80 2RS       EXP        15.0              883.5
18   F-CARDIN  DN40 2QR      IMP        12.0              864.0
402  F-HAMSUD  DN12 4HA      IMP        13.5              855.0

In [228]:
#NG17 2HU
CMA_job = df9[df9['coldel_pc'].str.match('NG17 2HU')].groupby(by=['Container Size']).agg({'Job Number': 'count', 'Switch_Difference': 'sum'}).reset_index().sort_values(by='Switch_Difference', ascending=False)
CMA_job['Job Number'] = CMA_job['Job Number'].apply(lambda x: x/8*12)
CMA_job['Road Switch Difference'] = CMA_job['Switch_Difference'].apply(lambda x: x/8*12)

Import_Rail_Saving_40 = 265+269-232-265
Import_Rail_Saving_20 = 148+150-180-227

CMA_job['Rail Switch Difference'] = CMA_job['Job Number'] * np.where(CMA_job['Container Size']==20, Import_Rail_Saving_20, Import_Rail_Saving_40)
CMA_job['Switch_Difference'] = CMA_job['Rail Switch Difference'] + CMA_job['Road Switch Difference']
pd.set_option('display.precision', 0)
CMA_job

,Container Size,Job Number,Switch_Difference,Road Switch Difference,Rail Switch Difference
1,40,248,23817,14660,9158
0,20,153,-9819,6858,-16677
2,45,12,1200,756,444