In [10]:
import pandas as pd
import numpy as np

In [11]:
weeks = 46
days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
strike_weeks = [5, 39, 40, 44, 45]
cols = ['Terminal', 'Type', 'Head Code', 'Depart Time', 'Core Wagons',
       'Laden Containers - 20ft', 'Laden Containers - 40ft', 'Laden Containers - HC', 'Laden Containers - 45ft',
       'Empty Containers - 20ft', 'Empty Containers - 40ft', 'Empty Containers - HC', 'Empty Containers - 45ft',
       'Addnl Wagons', 'Buy Back - 20ft', 'Buy Back - 40ft', 'Available TEU', 'Used TEU',
       'Utilisation', 'Total Conts']

In [12]:
data = []
for week in range(weeks):
    if week + 1 not in strike_weeks:
        filename_felixstowe = "Maersk_Data/WEEK" + str(week + 1).zfill(2) + "2022.xlsm"
        filename_londongateway = "Maersk_Data/WEEK" + str(week + 1).zfill(2) + "2022LGW.xlsx"
        for day in days:
            # Loop through Felixstowe Days in Week
            df = pd.read_excel(filename_felixstowe, sheet_name=day, skiprows=9, usecols="A:T", header=None, names=cols)
            import_row = df.index[df["Terminal"] == 'TOTAL IMPORTS'].to_list()[0]
            df_import = df[:import_row-1]
            df_import['Day'] = day
            df_import['Week'] = week + 1
            df_import['Direction'] = 'Import'
            df_import['Port'] = 'Felixstowe'
            data.append(df_import)
            export_row = df.index[df["Terminal"] == 'TOTAL EXPORTS'].to_list()[0]
            df_export = df[import_row+10:export_row-1]
            df_export['Day'] = day
            df_export['Week'] = week + 1
            df_export['Direction'] = 'Export'
            df_export['Port'] = 'Felixstowe'
            data.append(df_export)
            # Loop through LGW Days in Week
            df = pd.read_excel(filename_londongateway, sheet_name=day, skiprows=9, usecols="A:T", header=None, names=cols)
            import_row = df.index[df["Terminal"] == 'TOTAL IMPORTS'].to_list()[0]
            df_import = df[:import_row-1]
            df_import['Day'] = day
            df_import['Week'] = week + 1
            df_import['Direction'] = 'Import'
            df_import['Port'] = 'London Gateway'
            data.append(df_import)
            export_row = df.index[df["Terminal"] == 'TOTAL EXPORTS'].to_list()[0]
            df_export = df[import_row+10:export_row-1]
            df_export['Day'] = day
            df_export['Week'] = week + 1
            df_export['Direction'] = 'Export'
            df_export['Port'] = 'London Gateway'
            data.append(df_export)
df = pd.concat(data)
#df.to_csv('clean.csv', index= False)

C:\Users\91709\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\91709\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == "":
C:\Users\91709\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\91709\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\91709\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\91709\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\91709\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\91709\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\91709\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\91709\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\91709\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\91709\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\91709\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\91709\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\91709\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\91709\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [4]:
df2 = df
df2['Used_TEU_Before_BuyBack'] = df2['Used TEU'] - df2['Buy Back - 20ft'] - df2['Buy Back - 40ft'] * 2
df2[df2['Buy Back - 40ft'] > 10]

,Terminal,Type,Head Code,Depart Time,Core Wagons,Laden Containers - 20ft,Laden Containers - 40ft,Laden Containers - HC,Laden Containers - 45ft,Empty Containers - 20ft,...,Buy Back - 40ft,Available TEU,Used TEU,Utilisation,Total Conts,Day,Week,Direction,Port,Used_TEU_Before_BuyBack
62,Ditton,40',4L92,21:30:00,30,0,0,4,0,0,...,15,60,60,1,15,Friday,1,Export,Felixstowe,30
22,Leeds,40',5L88,23:11:00,4,1,0,0,0,0,...,12,32,25,0.78125,1,Friday,1,Export,London Gateway,1
9,Cleveland,HC,4E64,17:34:00,17,0,0,1,0,0,...,16,34,34,1,1,Monday,2,Import,Felixstowe,2
34,Tinsley,40',4E82,00:36:00,27,0,0,1,0,0,...,26,54,54,1,1,Thursday,2,Import,Felixstowe,2
80,Tinsley,40',4L85,11:30:00,27,0,0,0,0,0,...,26,54,54,1,1,Thursday,2,Export,Felixstowe,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55,Cardiff,HC,4L36,08:45:00,20,0,0,0,0,0,...,20,40,40,1,0,Friday,43,Export,Felixstowe,0
5,Birmingham,40',4M92,18:13:00,20,0,1,6,0,0,...,13,40,40,1,7,Tuesday,46,Import,Felixstowe,14
25,Manchester,40',4M87,11:13:00,12,0,0,0,0,0,...,12,24,24,1,0,Tuesday,46,Import,Felixstowe,0
70,Manchester,40',4L41,05:00:00,12,0,0,0,0,0,...,12,24,24,1,0,Tuesday,46,Export,Felixstowe,0
70,Manchester,40',4L41,05:00:00,12,0,0,0,0,0,...,12,24,24,1,0,Wednesday,46,Export,Felixstowe,0

In [5]:
aggregate = df2.groupby(['Head Code', 'Port', 'Terminal']).agg({'Available TEU': 'sum', 'Used_TEU_Before_BuyBack': 'sum', 'Used TEU': 'sum'})
aggregate['Available TEU'] = aggregate['Available TEU'].astype('float')
aggregate['Used_TEU_Before_BuyBack'] = aggregate['Used_TEU_Before_BuyBack'].astype('float')
aggregate['Utilisation_Before_BuyBack'] = aggregate['Used_TEU_Before_BuyBack'].divide(aggregate['Available TEU'], fill_value=None)
aggregate

#Cleaning issues - $140 Headcode on Felixstowe-Doncaster
#L at the end of Terminal names

                                      Available TEU  Used_TEU_Before_BuyBack  \
Head Code Port           Terminal
$l40      Felixstowe     Doncaster            944.0                    820.0
4E23      Felixstowe     Leeds               2067.0                   1612.0
4E24      Felixstowe     Leeds                496.0                    350.0
4E56      Felixstowe     Doncaster           5931.0                   3968.0
4E59      Felixstowe     Leeds               2653.0                   1898.0
4E63      Felixstowe     Doncaster              0.0                      0.0
4E64      Felixstowe     Cleveland           8361.0                   3970.0
4E82      Felixstowe     Tinsley            11050.0                   7717.0
4K40      Felixstowe     Ditton             10384.0                   6763.0
4L09      Felixstowe     Tinsley             2143.0                   1426.0
4L10      Felixstowe     EMG                 1950.0                   1546.0
4L16      Felixstowe     ManchesterL            0.0                      0.0
4L26      London Gateway Manchester          3970.0                   3037.0
4L36      Felixstowe     Cardiff             9859.0                   6681.0
4L40      Felixstowe     Doncaster           4519.0                   3870.0
4L41      Felixstowe     Manchester          5625.0                   2672.0
4L46      Felixstowe     BirminghamL            0.0                      0.0
          London Gateway Birmingham          3057.0                   2442.0
4L52      Felixstowe     LiverpoolL             0.0                      0.0
          London Gateway Liverpool           1800.0                   1529.0
4L58      Felixstowe     Birmingham          5814.0                   5129.0
4L69      Felixstowe     Birmingham          8406.0                   6886.0
4L77      Felixstowe     Birmingham          1457.0                   1242.0
4L78      Felixstowe     Cleveland           8289.0                   4900.0
4L83      Felixstowe     Leeds               2676.0                   2362.0
4L85      Felixstowe     Tinsley             8903.0                   6799.0
4L86      Felixstowe     Manchester          4629.0                   3604.0
4L87      Felixstowe     Leeds               2605.0                   2386.0
4L90      Felixstowe     Manchester          1338.0                    733.0
4L91      Felixstowe     Manchester          2376.0                   1984.0
4L92      Felixstowe     Ditton             13048.0                   9971.0
4L96      Felixstowe     Manchester          1155.0                    903.0
4L97      Felixstowe     Manchester          4068.0                   2174.0
4L99      Felixstowe     Birmingham          7215.0                   4035.0
4M42      Felixstowe     Liverpool           1900.0                   1407.0
4M43      Felixstowe     BirminghamL            0.0                      0.0
          London Gateway Birmingham          3085.0                   2221.0
4M53      Felixstowe     Manchester          4020.0                   2717.0
4M56      London Gateway Liverpool           1073.0                    581.0
4M60      London Gateway Manchester          2936.0                   1615.0
4M63      Felixstowe     Manchester          2340.0                   1516.0
4M81      Felixstowe     Manchester          5809.0                   2913.0
4M87      Felixstowe     Manchester          7088.0                   4327.0
4M89      Felixstowe     Ditton             13047.0                   8187.0
4M92      Felixstowe     Birmingham          8473.0                   6630.0
4M93      Felixstowe     Birmingham          7315.0                   4563.0
4M94      Felixstowe     Birmingham          5809.0                   4726.0
5E24      London Gateway Leeds               2202.0                   1430.0
5L88      London Gateway Leeds               2138.0                   1506.0
5M64      Felixstowe     EMG                  440.0                    334.0
5M81      Felixstowe     Birmingham          1414.0                   1138.0
5M86      Felixstowe     EMG                 1100.0                    813.0
5V36      Felixstowe     Cardiff             9929.0                   6321.0
6L41      Felixstowe     Ditton              2736.0                   1751.0
6L95      Felixstowe     Liverpool           1806.0                   1289.0
6M88      Felixstowe     Ditton             13168.0                   8591.0

                                      Used TEU  Utilisation_Before_BuyBack
Head Code Port           Terminal
$l40      Felixstowe     Doncaster         908                    0.868644
4E23      Felixstowe     Leeds            1766                    0.779874
4E24      Felixstowe     Leeds             448                    0.705645
4E56      Felixstowe     Doncaster        4784                    0.669027
4E59      Felixstowe     Leeds            2375                    0.715417
4E63      Felixstowe     Doncaster           0                         NaN
4E64      Felixstowe     Cleveland        5849                    0.474824
4E82      Felixstowe     Tinsley          9898                    0.698371
4K40      Felixstowe     Ditton           8838                    0.651290
4L09      Felixstowe     Tinsley          1791                    0.665422
4L10      Felixstowe     EMG              1698                    0.792821
4L16      Felixstowe     ManchesterL         0                         NaN
4L26      London Gateway Manchester       3293                    0.764987
4L36      Felixstowe     Cardiff          8426                    0.677655
4L40      Felixstowe     Doncaster        4242                    0.856384
4L41      Felixstowe     Manchester       4133                    0.475022
4L46      Felixstowe     BirminghamL         0                         NaN
          London Gateway Birmingham       2553                    0.798822
4L52      Felixstowe     LiverpoolL          0                         NaN
          London Gateway Liverpool        1608                    0.849444
4L58      Felixstowe     Birmingham       5439                    0.882181
4L69      Felixstowe     Birmingham       7353                    0.819177
4L77      Felixstowe     Birmingham       1350                    0.852437
4L78      Felixstowe     Cleveland        6294                    0.591145
4L83      Felixstowe     Leeds            2646                    0.882661
4L85      Felixstowe     Tinsley          8255                    0.763675
4L86      Felixstowe     Manchester       3779                    0.778570
4L87      Felixstowe     Leeds            2517                    0.915931
4L90      Felixstowe     Manchester        769                    0.547833
4L91      Felixstowe     Manchester       2092                    0.835017
4L92      Felixstowe     Ditton          11283                    0.764178
4L96      Felixstowe     Manchester        998                    0.781818
4L97      Felixstowe     Manchester       2678                    0.534415
4L99      Felixstowe     Birmingham       6159                    0.559252
4M42      Felixstowe     Liverpool        1514                    0.740526
4M43      Felixstowe     BirminghamL         0                         NaN
          London Gateway Birmingham       2332                    0.719935
4M53      Felixstowe     Manchester       3000                    0.675871
4M56      London Gateway Liverpool         774                    0.541473
4M60      London Gateway Manchester       1923                    0.550068
4M63      Felixstowe     Manchester       1636                    0.647863
4M81      Felixstowe     Manchester       4661                    0.501463
4M87      Felixstowe     Manchester       4900                    0.610468
4M89      Felixstowe     Ditton           9439                    0.627501
4M92      Felixstowe     Birmingham       7560                    0.782486
4M93      Felixstowe     Birmingham       6557                    0.623787
4M94      Felixstowe     Birmingham       5030                    0.813565
5E24      London Gateway Leeds            1652                    0.649410
5L88      London Gateway Leeds            1749                    0.704397
5M64      Felixstowe     EMG               356                    0.759091
5M81      Felixstowe     Birmingham       1223                    0.804809
5M86      Felixstowe     EMG               905                    0.739091
5V36      Felixstowe     Cardiff          8279                    0.636620
6L41      Felixstowe     Ditton           2262                    0.639985
6L95      Felixstowe     Liverpool        1416                    0.713732
6M88      Felixstowe     Ditton          11517                    0.652415

In [9]:
df[df['Terminal']=='LiverpoolL']

NameError: name 'df2' is not defined

In [7]:
df[df['Head Code']=='$l40']

,Terminal,Type,Head Code,Depart Time,Core Wagons,Laden Containers - 20ft,Laden Containers - 40ft,Laden Containers - HC,Laden Containers - 45ft,Empty Containers - 20ft,...,Buy Back - 40ft,Available TEU,Used TEU,Utilisation,Total Conts,Day,Week,Direction,Port,Used_TEU_Before_BuyBack
27,Doncaster,40',$l40,02:35:00,14,0,1,1,0,0,...,1,28,28,1,13,Saturday,1,Export,Felixstowe,26
27,Doncaster,40',$l40,02:35:00,14,2,0,6,0,0,...,1,28,26,0.928571,13,Saturday,2,Export,Felixstowe,24
27,Doncaster,40',$l40,02:35:00,14,0,3,11,0,0,...,0,28,28,1,14,Saturday,3,Export,Felixstowe,28
27,Doncaster,40',$l40,02:35:00,14,0,1,11,0,0,...,0,28,28,1,14,Saturday,4,Export,Felixstowe,28
27,Doncaster,40',$l40,02:35:00,14,0,1,12,0,0,...,0,30,30,1,15,Saturday,6,Export,Felixstowe,30
27,Doncaster,40',$l40,02:35:00,12,0,0,3,0,0,...,0,24,24,1,12,Saturday,7,Export,Felixstowe,24
27,Doncaster,40',$l40,02:35:00,12,0,3,10,0,0,...,0,26,26,1,13,Saturday,8,Export,Felixstowe,26
27,Doncaster,40',$l40,02:35:00,12,0,0,8,0,0,...,0,26,26,1,13,Saturday,9,Export,Felixstowe,26
27,Doncaster,40',$l40,02:35:00,12,2,2,10,0,0,...,0,26,26,1,14,Saturday,10,Export,Felixstowe,26
27,Doncaster,40',$l40,02:35:00,12,0,0,8,0,0,...,0,26,26,1,13,Saturday,11,Export,Felixstowe,26
27,Doncaster,40',$l40,02:35:00,12,4,0,10,0,0,...,0,24,24,1,14,Saturday,12,Export,Felixstowe,24
27,Doncaster,40',$l40,02:35:00,12,1,0,4,1,0,...,1,24,16,0.666667,7,Saturday,13,Export,Felixstowe,14
27,Doncaster,40',$l40,02:35:00,12,0,0,11,0,0,...,1,24,24,1,11,Saturday,14,Export,Felixstowe,22
27,Doncaster,40',$l40,02:35:00,0,0,0,0,0,0,...,0,0,0,NaN,0,Saturday,15,Export,Felixstowe,0
27,Doncaster,40',$l40,02:35:00,12,0,0,10,0,0,...,1,24,24,1,11,Saturday,16,Export,Felixstowe,22
27,Doncaster,40',$l40,02:35:00,12,0,0,11,0,0,...,1,24,24,1,11,Saturday,17,Export,Felixstowe,22
27,Doncaster,40',$l40,02:35:00,12,0,0,10,0,2,...,1,24,24,1,12,Saturday,18,Export,Felixstowe,22
27,Doncaster,40',$l40,02:35:00,12,0,1,10,0,0,...,1,24,24,1,11,Saturday,19,Export,Felixstowe,22
27,Doncaster,40',$l40,02:35:00,12,0,0,11,0,0,...,1,24,24,1,11,Saturday,20,Export,Felixstowe,22
27,Doncaster,40',$l40,02:35:00,12,0,0,10,0,0,...,1,24,24,1,11,Saturday,21,Export,Felixstowe,22
27,Doncaster,40',$l40,02:35:00,0,0,0,0,0,0,...,0,0,0,NaN,0,Saturday,22,Export,Felixstowe,0
27,Doncaster,40',$l40,02:35:00,12,0,1,10,0,0,...,1,24,24,1,11,Saturday,23,Export,Felixstowe,22
27,Doncaster,40',$l40,02:35:00,12,0,1,7,0,0,...,1,24,18,0.75,8,Saturday,24,Export,Felixstowe,16
27,Doncaster,40',$l40,02:35:00,12,0,0,8,0,0,...,0,24,16,0.666667,8,Saturday,25,Export,Felixstowe,16
27,Doncaster,40',$l40,02:35:00,12,0,0,8,0,0,...,1,24,24,1,11,Saturday,26,Export,Felixstowe,22
27,Doncaster,40',$l40,02:35:00,12,0,1,5,0,0,...,1,24,24,1,11,Saturday,27,Export,Felixstowe,22
27,Doncaster,40',$l40,02:35:00,12,0,0,2,0,0,...,1,24,24,1,11,Saturday,28,Export,Felixstowe,22
27,Doncaster,40',$l40,02:35:00,12,0,0,3,0,0,...,1,24,24,1,11,Saturday,29,Export,Felixstowe,22
27,Doncaster,40',$l40,02:35:00,0,0,0,0,0,0,...,0,0,0,NaN,0,Saturday,30,Export,Felixstowe,0
27,Doncaster,40',$l40,02:35:00,12,0,1,4,0,0,...,1,24,24,1,11,Saturday,31,Export,Felixstowe,22
27,Doncaster,40',$l40,02:35:00,12,1,0,5,0,1,...,1,24,16,0.666667,8,Saturday,32,Export,Felixstowe,14
27,Doncaster,40',$l40,02:35:00,12,0,0,10,0,0,...,0,24,20,0.833333,10,Saturday,33,Export,Felixstowe,20
27,Doncaster,40',$l40,02:35:00,12,0,0,0,0,0,...,12,24,24,1,0,Saturday,34,Export,Felixstowe,0
27,Doncaster,40',$l40,02:35:00,12,6,0,10,0,0,...,0,26,26,1,16,Saturday,35,Export,Felixstowe,26
27,Doncaster,40',$l40,02:35:00,12,0,0,11,0,0,...,1,24,24,1,11,Saturday,36,Export,Felixstowe,22
27,Doncaster,40',$l40,02:35:00,12,0,0,4,0,0,...,1,24,24,1,11,Saturday,37,Export,Felixstowe,22
27,Doncaster,40',$l40,02:35:00,12,0,0,0,0,0,...,12,24,24,1,0,Saturday,38,Export,Felixstowe,0
27,Doncaster,40',$l40,02:35:00,12,0,1,11,0,0,...,0,24,24,1,12,Saturday,41,Export,Felixstowe,24
27,Doncaster,40',$l40,02:35:00,12,0,0,12,0,0,...,0,24,24,1,12,Saturday,42,Export,Felixstowe,24
27,Doncaster,40',$l40,02:35:00,12,0,1,11,0,0,...,0,24,24,1,12,Saturday,43,Export,Felixstowe,24
27,Doncaster,40',$l40,02:35:00,12,0,0,7,0,0,...,0,24,24,1,12,Saturday,46,Export,Felixstowe,24

In [16]:
df

,Terminal,Type,Head Code,Depart Time,Core Wagons,Laden Containers - 20ft,Laden Containers - 40ft,Laden Containers - HC,Laden Containers - 45ft,Empty Containers - 20ft,...,Used TEU,Utilisation,Total Conts,Day,Week,Direction,Port,Buy Back TEU,Unused TEU,Available 40ft
0,Birmingham,20',4M93,14:32:00,0,0,0,0,0,0,...,0,NaN,0,Monday,1,Import,Felixstowe,0,0,NaN
1,Birmingham,40',4M93,14:32:00,0,0,0,0,0,0,...,0,NaN,0,Monday,1,Import,Felixstowe,0,0,NaN
2,Birmingham,20',4M92,18:13:00,0,0,0,0,0,0,...,0,NaN,0,Monday,1,Import,Felixstowe,0,0,NaN
3,Birmingham,40',4M92,18:13:00,0,0,0,0,0,0,...,0,NaN,0,Monday,1,Import,Felixstowe,0,0,NaN
4,Cardiff,20',5V36,23:14:00,0,0,0,0,0,0,...,0,NaN,0,Monday,1,Import,Felixstowe,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37,Manchester,40',4L90,11:17,12,0,0,12,0,0,...,24,1,12,Saturday,46,Export,Felixstowe,0,0,NaN
0,Birmingham,20',4M43,01:17:00,7,7,0,0,0,0,...,7,1,7,Saturday,46,Import,London Gateway,0,0,NaN
1,Birmingham,40',4M43,01:17:00,4,2,0,3,0,0,...,8,1,5,Saturday,46,Import,London Gateway,0,0,NaN
13,Liverpool,20',4L52,03:39:00,2,2,0,0,0,0,...,2,1,2,Saturday,46,Export,London Gateway,0,0,NaN
14,Liverpool,40',4L52,03:39,3,0,0,5,0,0,...,10,1,5,Saturday,46,Export,London Gateway,0,0,NaN